{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal modal-blur fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-m">
      	<form class="modal-content"
		  autocomplete="off" id="create-level-form">
        	<div class="modal-header">
          		<h1 class="modal-title">Create new Accreditation Level</h1>
          		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        	</div>
        	<div class="modal-body">
				{% csrf_token %}
				<div id="div_id_name" class="mb-3">
					<label for="id_name" class="form-label requiredField required">
						Name
					</label>
					<input type="text" name="name" maxlength="20" class="textinput form-control" required="" id="id_name">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Create Level</button>
			</div>
		</form>
  	</div>
</div>
  