{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal modal-blur fade" id="create-submission-bin-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      	<div class="modal-content">
        	<div class="modal-header">
          		<h1 class="modal-title">New Submission Bin</h1>
          		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        	</div>
        	<div class="modal-body">

				<form method="POST" autocomplete="off" 
					id="create-submission-bin-form"
					data-id="{{ pk }}">
				{% csrf_token %}

				<div class="mb-3">
					<label class="form-label required">Name</label>
					<input type="text" class="form-control" name="name" placeholder="Input Name" required>
				</div>
		
					<div class="mb-3">
						<label class="form-label">Description</label>
						<textarea class="form-control" id="description" name="description" placeholder="Input submission bin description" data-bs-toggle="autosize"></textarea>
					  </div>
					  
			</div>
					<div class="modal-footer">
						<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
						<button id="submit-submission-bin" type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>

    	</div>
  	</div>
</div>
