{% comment %} These are the scripts for the landing page. {% endcomment %}

{% comment %} AJAX FOR CREATING {% endcomment %}
{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#create-simple-folder-form").submit(function(event) {
            var serializedData = $("#create-simple-folder-form").serialize();
            const form = document.getElementById("create-simple-folder-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/child/directory/create/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#create-advance-folder-form").submit(function(event) {
            var serializedData = $("#create-advance-folder-form").serialize();
            const form = document.getElementById("create-advance-folder-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/child/directory/create/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 

{% comment %} AJAX FOR UPDATING  {% endcomment %}
<script>
    $(document).ready(function(){
        $(".update-folder-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#update-instrument-level-form-"+id).serialize();
            var url = "/accreditation/instrument/level/directory/update/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }
            });
        });
    });
</script> 

{% comment %} AJAX FOR UPDATING  {% endcomment %}
<script>
    $(document).ready(function(){
        $(".change-advance-folder-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#change-advance-folder-form-"+id).serialize();
            var url = "/accreditation/instrument/level/directory/update/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }
            });
        });
    });
</script> 


<script>
    $(".archive-button").click(function(event) {
        var id = $(this).data('id');         //Get the Id of the record
        var form = 'archive-form-'+id;      //Attaching the id of the record to this string for identifying the specific form
        Swal.fire({
            title: 'Are you sure?',
            text: "This will be move and can be restore in the Instrument's Levels Archive Page!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, archive it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                // Delete the file here
                document.getElementById(form).submit();
            }
        })
    });
</script>


<script>
    var currentStep = 1;
    var updateProgressBar;
    
      function displayStep(stepNumber) {
        if (stepNumber >= 1 && stepNumber <= 3) {
          $(".step-" + currentStep).hide();
          $(".step-" + stepNumber).show();
          currentStep = stepNumber;
          updateProgressBar();
        }
      }
    
      $(document).ready(function() {
        $('#multi-step-form').find('.step').slice(1).hide();
      
        $(".next-step").click(function() {
          if (currentStep < 2) {
            $(".step-" + currentStep).addClass("animate__animated animate__fadeOutLeft");
            currentStep++;
            setTimeout(function() {
              $(".step").removeClass("animate__animated animate__fadeOutLeft").hide();
              $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInRight");
              updateProgressBar();
            }, 500);
          }
        });
    
        $(".prev-step").click(function() {
          if (currentStep > 1) {
            $(".step-" + currentStep).addClass("animate__animated animate__fadeOutRight");
            currentStep--;
            setTimeout(function() {
              $(".step").removeClass("animate__animated animate__fadeOutRight").hide();
              $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInLeft");
              updateProgressBar();
            }, 500);
          }
        });
    
        updateProgressBar = function() {
          var progressPercentage = ((currentStep - 1) / 1) * 100;
          $(".progress-bar").css("width", progressPercentage + "%");
        }
      });
    
    
</script>


<script>
    let container = document.querySelector("#area-form")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let birdForm = container.querySelector(".level-area-form:last-child")  // Select the last form in the container
        let newForm = birdForm.cloneNode(true) // Clone the bird form, including scripts

        let formRegex = RegExp(`form-(\\d){1}-`, 'g') // Regex to find all instances of the form number
        let formNum = container.querySelectorAll(".level-area-form").length  // Get the total number of forms

        formNum++ // Increment the form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) // Update the new form to have the correct form number

        // Add a remove button to the new form
        let removeButton = document.createElement("button")
        removeButton.type = "button"
        removeButton.classList.add("btn", "btn-danger", "remove-form")
        removeButton.textContent = "Remove"
        removeButton.addEventListener('click', () => removeForm(newForm))

        newForm.appendChild(removeButton)

        container.appendChild(newForm) // Append the new form to the container

        totalForms.setAttribute('value', `${formNum + 1}`) // Increment the number of total forms in the management form
    }

    function removeForm(form) {
        form.remove()
        let formNum = container.querySelectorAll(".level-area-form").length
        totalForms.setAttribute('value', `${formNum}`)
    }
</script> 

{% comment %} -----------------[ SCRIPTS FOR SUBMISSION BIN ]------------------ {% endcomment %}
<script>
    $(document).ready(function(){

        $("#create-submission-bin-form").submit(function(event) {
            var serializedData = $("#create-submission-bin-form").serialize();
            const form = document.getElementById("create-submission-bin-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/child-directory/create/submission-bin/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });

        });
    });
</script> 


{% comment %} AJAX FOR UPDATING  {% endcomment %}
<script>
    $(document).ready(function(){
        $(".update-submission-bin-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#update-submission-bin-form-"+id).serialize();
            var url = "/accreditation/instrument/level/directory/submission-bin/update/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 

{% comment %} -------------------------------[FILES MODULE CODES]------------------------------- {% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = [];
        var acceptedFileTypes = {{ all_file_types|safe }};
        
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        
        FilePond.setOptions({
            allowMultiple: true,
            maxFiles: 100,
            maxFileSize: '5000MB'
        });
        
        const inputElement = document.querySelector('input[type="file"]');
        var pond = FilePond.create(inputElement, {
            acceptedFileTypes: acceptedFileTypes,
            onaddfile: (err, fileItem) => {
                if (!err && fileItem.file) {
                    files.push(fileItem.file);
                }
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file);
                if (index > -1) {
                    files.splice(index, 1);
                }
            }
        });

        $("#upload-file-form").submit(function(event) {
            event.preventDefault(); // Prevent default form submission
            
            if (files.length === 0) {
                toastr.error("Please select at least one file to upload.");
                return;
            }

            var url = "/accreditation/instrument/level/child-directory/upload-files/{{ pk }}/";
            var formData = new FormData();
            
            formData.append('length', files.length);
            
            for (var i = 0; i < files.length; i++) {
                formData.append('files' + i, files[i]);
            }
            
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    toastr.error(error.responseJSON.error);
                }
            });
        });
    });
</script>

<script>
    $(".archive-button").click(function(event) {
        var id = $(this).data('id');         //Get the Id of the record
        var form = 'archive-form-'+id;      //Attaching the id of the record to this string for identifying the specific form
        Swal.fire({
            title: 'Are you sure?',
            text: "This will be move and can be restore in the Recycle Bin!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, archive it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                // Delete the file here
                document.getElementById(form).submit();
            }
        })
    });
</script>


{% comment %} AJAX FOR REVIEWING AN UPLOAD BIN {% endcomment %}
<script>
    $(document).ready(function(){
        $(".review-upload-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#review-upload-form-"+id).serialize();
            var url = "/accreditation/create-review/"+id+"/";


            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 



{% comment %} AJAX FOR REVIEWING A FILE {% endcomment %}
<script>
    $(document).ready(function(){
        $(".review-file-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#review-file-form-"+id).serialize();
            var url = "/accreditation/create-file-review/"+id+"/";


            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
      let options = {
        selector: '#id_remarks',
        height: 300,
        menubar: false,
        statusbar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
          'bold italic backcolor | alignleft aligncenter ' +
          'alignright alignjustify | bullist numlist outdent indent | ' +
          'removeformat',
        content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
      }
      if (localStorage.getItem("tablerTheme") === 'dark') {
        options.skin = 'oxide-dark';
        options.content_css = 'dark';
      }
      tinyMCE.init(options);
    })
    // @formatter:on
  </script>


  {% comment %} AJAX FOR RENAMING A FILE  {% endcomment %}
  <script>
    $(document).ready(function(){
        $(".file-rename-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#file-rename-form-"+id).serialize();
            var url = "/accreditation/file-rename/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the other error message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                    
                }
            });
        });
    });
</script> 

<script>
    document.querySelectorAll('.navi-button').forEach(button => {
        button.addEventListener('click', function() {
            const icon = this.querySelector('svg'); // Find the SVG within *this* button
            icon.classList.toggle('rotate-90'); 
        });
    });
    
</script>