{% comment %} These are the scripts for the landing page. {% endcomment %}

{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#submit").click(function(event) {
            var serializedData = $("#create-type-form").serialize();
            const form = document.getElementById('create-type-form')
            event.preventDefault();

            $.ajax({
                url: "{% url 'accreditations:type-create' %}", 
                data: serializedData,
                type: "POST",
                success: function(response) {
                    window.location.href = response.url_landing;
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 

{% comment %} AJAX FOR UPDATING  {% endcomment %}
 <script>
    $(document).ready(function(){
        $(".save-changes-button").click(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#update-type-form-"+id).serialize();
            var url = "/accreditation/type/update/"+id+"/";


            $.ajax({
                url: url, 
                data: serializedData,
                type: "POST",
                success: function(response) {
                    window.location.href = response.url_landing;
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 

<script>
    $(document).ready(function() {
        $('.program-card').on('click', function() {
            var card = $(this);
            if (card.hasClass('selected')) {
                card.removeClass('selected');
            } else {
                card.addClass('selected');
            }
        });

    });
</script>

<style>
    .program-card.selected {
        background-color: #c2e7ff;

    }

    .program-card.selected:hover {
        background-color: #c2e7ff;
      }
</style>

<script>
    $(".archive-button").click(function(event) {
        var id = $(this).data('id');         //Get the Id of the record
        var form = 'archive-form-'+id;      //Attaching the id of the record to this string for identifying the specific form
        Swal.fire({
            title: 'Are you sure?',
            text: "This will be move and can be restore in the Accreditation Type Archive Page!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, archive it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                // Delete the file here
                document.getElementById(form).submit();
            }
        })
    });
</script>
