<div class="row row-cards">
    {% if records %}
        <!-- For LOOP HERE-->
        {% for record, update_form, created_by, modified_by in details %}
            <div class="col-sm-6 col-lg-4">
                <div class="card  card-link-pop">
                    <div class="card-status-start bg-red"></div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Name</div> 
                            <div class="ms-auto lh-1">
            
                                
                                <div class="dropdown">
                                    <a class="text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#view-modal-{{ record.id }}">View</button>
                                        <button class="dropdown-item edit-button" data-bs-toggle="modal" data-bs-target="#edit-modal-{{ record.id }}">Edit</button>
                                        <a  href={% url 'accreditations:instrument-level-area-restore' ins_pk=pk pk=record.id %} class="dropdown-item">Restore</a>
                                        <button type="button" class="dropdown-item text-danger delete-button" id="delete-button" data-id={{ record.id }}>Delete</button>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                        <div class="h1 mb-1">{{ record.area }}</div>       
                        <hr class = "card-divider-line">
                        <small class="card-text p-y-1 text-muted">Created by: </small><small class="card-text p-y-1">{{ created_by.first_name }} {{ created_by.last_name }}</small><br>
                        <small class="card-text p-y-1 text-muted">Date Created: </small><small class="card-text p-y-1">{{ record.created_at }}</small><br>
                        <small class="card-text p-y-1 text-muted">Modified by: </small><small class="card-text p-y-1">{{ modified_by.first_name }} {{ modified_by.last_name }} </small><br>
                        <small class="card-text p-y-1 text-muted">Date Archived: </small><small class="card-text p-y-1">{{ record.deleted_at }}</small><br>   
                    
                    </div>
                </div>
            </div>

            {% include "accreditation-level-area/archive-page/view-modal.html" %}
            {% include "accreditation-level-area/main-page/edit-modal.html" %}
        {% endfor %}


    {% else %}
    <div class="empty">
        <div class="empty-header">0 records</div>
        <p class="empty-title">Oops… It seems like there are no records in this page. </p>
        <p class="empty-subtitle text-muted">
          You can create a record if you like. Just click the 'create' button and save the details.
        </p>
        <div class="empty-action">
            <a href="{% url "dashboards:dashboard-landing" %}" class="btn btn-primary">
                <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg>
                Take me home
            </a>
        </div>
      </div>
      {% endif %}
</div>