{% extends "base.html" %}
{% block content %}
    <br>
    <div class="main-content">
        <div class="container">
            <h1> Accreditation</h1>
            <div>
                <div class="bg-light p-3 mb-5d-grid gap-2 d-md-flex justify-content-md-end bg-body-tertiary rounded">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create <i class="fa-solid fa-pen"></i></button>
                        <a href="{% url 'accreditation-type-archive-page' %}" class="btn btn-primary" type="button">Archive <i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
    </div>


    
    {% include "accreditation_page/accreditation_cards.html" %}

    <!-- MODALS-->
    {% include "accreditation_page/create_modal.html" %} 

    <!-- scripts -->
    {% include "accreditation_page/styles.html" %}

{% endblock content %}