
            <!-- Page Heading -->
            
            <h1 class="h3 mb-4 text-gray-800">Create Level</h1>
            <div class="d-flex align-items-center">
                <a href="instrument.html" type="button" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i> Back</a>
                <a href="#" type="button" class="btn btn-primary" style="margin-left: 5px;">Create Level</a>
    <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
        <ol class="brd breadcrumb ml-auto" style="margin-left: 20px;"> <!-- Add margin-bottom here -->
            <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">BSIT<span class="text-muted"> /</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>
</div>
<hr>

            <div class="row clearfix"><!-- START of LVL IV -->
              

              <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="" style="text-decoration: none; color: #000000;">
                    <div class="accredcard">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">
                                <small class="text-muted">Level 1 Phase 1</small>
                            </div>
                        </div>
                        <!-- Arrow button -->
                        <div class="arrow-button">
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
            
            
              
                                    
            </div><!-- end of lvl3 -->
        </div>
        <!-- /.container-fluid -->
    </div>
    
      <!-- End of Main Content -->
    </div>
  </div>

    
