{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Accreditations
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search accreditation type..."/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create</button>
        <a href="#" class="btn btn-success" type="button">
            Archive <i class="fa-solid fa-arrow-right"></i>
        </a> 
{% endblock page-title-actions %}

{% block content %}

    {% include "accreditation_page/accreditation-cards.html" %}

    {% include "accreditation_page/scripts.html" %}

    {% include "accreditation_page/styles.html" %}
   
{% endblock content %}



