


	<!-- START of LVL IV -->
    <div class="row clearfix">
        <div class="suggested col-md-9 col-xl-10">
          <h6 class="small text-muted">LEVEL IV RE-ACCREDITED</h6>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12">
          <a href="" style="text-decoration: none; color: #000000;">
              <div class="accredcard">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon">
                          <h6>ABE</h6>
                          <small>Level IV Re-accredited Status</small>
                      </div>
                  </div>
              </div>
          </a>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-12">
          <a href="" style="text-decoration: none; color: #000000;">
              <div class="accredcard">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon">
                          <h6>ABF</h6>
                          <small>Level IV Re-accredited Status</small>
                      </div>
                  </div>
              </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12">
          <a href="" style="text-decoration: none; color: #000000;">
              <div class="accredcard">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon">
                          <h6>BABrC</h6>
                          <small>Level IV Re-accredited Status</small>
                      </div>
                  </div>
              </div>
          </a>
        </div>

      <div class="col-lg-3 col-md-4 col-sm-12">
          <a href="" style="text-decoration: none; color: #000000;">
              <div class="accredcard">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon">
                          <h6>BA</h6>
                          <small>Level IV Re-accredited Status</small>
                      </div>
                  </div>
              </div>
          </a>
      </div>
  </div>  
  <!-- end of LVL IV -->