


<div class="row clearfix"><!-- START of LVL III -->
    <div class="suggested col-md-9 col-xl-10">
        <h6 class="small text-muted">LEVEL III RE-ACCREDITED</h6>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="" style="text-decoration: none; color: #000000;">
            <div class="accredcard">
                <div class="d-flex flex-row align-items-center">
                    <div class="icon">
                        <h6>ABP</h6>
                        <small>Level III Re-accredited Status</small>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="" style="text-decoration: none; color: #000000;">
            <div class="accredcard">
                <div class="d-flex flex-row align-items-center">
                    <div class="icon">
                        <h6>BSND</h6>
                        <small>Level III Re-accredited Status</small>
                    </div>
                </div>
            </div>
        </a>
    </div>  

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="" style="text-decoration: none; color: #000000;">
            <div class="accredcard">
                <div class="d-flex flex-row align-items-center">
                    <div class="icon">
                        <h6>BSE</h6>
                        <small>Level III Re-accredited Status</small>
                    </div>
                </div>
            </div>
        </a>
    </div> 

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="" style="text-decoration: none; color: #000000;">
            <div class="accredcard">
                <div class="d-flex flex-row align-items-center">
                    <div class="icon">
                        <h6>BSA</h6>
                        <small>Level III Re-accredited Status</small>
                    </div>
                </div>
            </div>
        </a>
    </div>               
</div>
<!-- end of lvl3 -->
