<script>
    $(".archive-button").click(function(event) {
        var id = $(this).data('id');         //Get the Id of the record
        var form = 'archive-form-'+id;      //Attaching the id of the record to this string for identifying the specific form
        Swal.fire({
            title: 'Are you sure?',
            text: "This will be move and can be restore in the Accreditation Page Archive Page!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, archive it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                // Delete the file here
                document.getElementById(form).submit();
            }
        })
    });
</script>
