{% extends "base.html" %}

<!-- PAGE TITLE FOR THIS PAGE -->

{% block page-back-button %}
    {% if parent_pk %}
        <a href="{% url 'accreditations:instrument-level-directory' pk=parent_pk %}" class="btn btn-secondary btn-icon rounded-circle btn-ghost-secondary" aria-label="Back">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
        </a>
    {% else %}
        <a href="{% url 'accreditations:instrument-level-child-directory' pk=submission_bin_record.parent_directory_id %}" class="btn btn-secondary btn-icon rounded-circle btn-ghost-secondary" aria-label="Back">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
        </a>
    {% endif %}

{% endblock page-back-button %}

{% block page-title %}
    File Upload Page
{% endblock page-title %}

<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
		<input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search files..."/>
		{% if perms.Accreditation.add_files %}

            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#upload-modal">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                </svg>
                Upload
            </a>
        {% endif %}

        {% if perms.Accreditation.delete_files %}
            <a href="{% url 'accreditations:submission-bin-recycle-bin-page' pk=pk %}" class="btn btn-green d-none d-sm-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
                Recycle Bin
            </a>
        {% endif %}
    
	


{% endblock page-title-actions %}


{% block content %}
    <div class="row">
        {% include "accreditation-submission-bin/main-page/submission-bin-info.html" %}
        {% include "accreditation-submission-bin/main-page/file-card.html" %}
    </div>
{% endblock content %}


{% block js_content %}
    {% include "accreditation-submission-bin/main-page/scripts.html" %}
{% endblock js_content %}

{% block css_content %}
    {% include "accreditation-submission-bin/main-page/styles.html" %}
{% endblock css_content %}


{% block modal_content %}
    {% include "accreditation-submission-bin/main-page/upload-modal.html" %}
    {% include "accreditation-submission-bin/main-page/view-remarks-modal.html" %}
    {% include "accreditation-submission-bin/main-page/parent-review-modal.html" %}

{% endblock modal_content %}