{% comment %} THIS IS THE OLD SCRIPT FOR UPLOADING FILE TO DATABASE {% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = [];
        var acceptedFileTypes = {{ submission_bin_record.accepted_file_type|safe }};
        
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        
        FilePond.setOptions({
            allowMultiple: true,
            maxFiles: {{ submission_bin_record.accepted_file_count }},
            maxFileSize: '{{ submission_bin_record.accepted_file_size }}MB'
        });
        
        const inputElement = document.querySelector('input[type="file"]');
        var pond = FilePond.create(inputElement, {
            acceptedFileTypes: acceptedFileTypes,
            onaddfile: (err, fileItem) => {
                if (!err && fileItem.file) {
                    files.push(fileItem.file);
                }
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file);
                if (index > -1) {
                    files.splice(index, 1);
                }
            }
        });

        $("#upload-file-form").submit(function(event) {
            event.preventDefault(); // Prevent default form submission
            
            if (files.length === 0) {
                toastr.error("Please select at least one file to upload.");
                return;
            }

            var url = "/accreditation/instrument/level/directory/submission-bin/upload-files/{{ pk }}/";
            var formData = new FormData();
            
            formData.append('length', files.length);
            
            for (var i = 0; i < files.length; i++) {
                formData.append('files' + i, files[i]);
            }
            
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    toastr.error(error.responseJSON.error);
                }
            });
        });
    });
</script>


<script>
    $(".archive-button").click(function(event) {
        var id = $(this).data('id');         //Get the Id of the record
        var form = 'archive-form-'+id;      //Attaching the id of the record to this string for identifying the specific form
        Swal.fire({
            title: 'Are you sure?',
            text: "This will be move and can be restore in the Recycle Bin!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, archive it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                // Delete the file here
                document.getElementById(form).submit();
            }
        })
    });
</script>

  {% comment %} AJAX FOR RENAMING A FILE  {% endcomment %}
  <script>
    $(document).ready(function(){
        $(".file-rename-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#file-rename-form-"+id).serialize();
            var url = "/accreditation/file-rename/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the other error message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                    
                }
            });
        });
    });
</script> 

{% comment %} AJAX FOR REVIEWING A FILE {% endcomment %}
<script>
    $(document).ready(function(){
        $(".review-file-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#review-file-form-"+id).serialize();
            var url = "/accreditation/create-file-review/"+id+"/";


            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


{% comment %} AJAX FOR REVIEWING AN UPLOAD BIN {% endcomment %}
<script>
    $(document).ready(function(){
        $(".review-upload-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#review-upload-form-"+id).serialize();
            var url = "/accreditation/create-review/"+id+"/";


            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 