<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = []
        var acceptedFileTypes = {{ submission_bin_record.accepted_file_type|safe }};
        // Now acceptedFileTypes is a JavaScript array

        FilePond.registerPlugin(FilePondPluginFileValidateSize);    //Register plugin to validate file size
        FilePond.registerPlugin(FilePondPluginFileValidateType);    //Register plugin to validate file type
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.setOptions({
            allowMultiple:true,
            maxFiles:{{ submission_bin_record.accepted_file_count }},             //It sets the max file counts
            maxFileSize: '{{ submission_bin_record.accepted_file_size }}MB'      //It sets the accepted max storage size
        })
        const inputElement = document.querySelector('input[type="file"]');  //Convert input types that are file types into filepond
        var pond = FilePond.create( inputElement, {
            acceptedFileTypes:  acceptedFileTypes, // The lists are the accepted file types
            onaddfile: (err, fileItem) => {
                if (!err) {
                files.push(fileItem.file)
                }
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
                console.log(files)
            }
        } );

        var formData = new FormData();
        $(document).on('click', '#upload-button', function(e) {
            var url = "/accreditation/program-accreditation/area/parameter/upload-page/upload-evidences/"+{{ submission_bin_record.id }}+"/"+{{ parent_pk }}+"/";
            formData.append('length', files.length)
            for (var i = 0; i < files.length; i++) {
                formData.append('files' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function(response) {
                    // Check if the server response contains a 'redirect_url' field
                    if (response.redirect_url) {
                        // Redirect to the specified URL
                        window.location.reload()
                    }
                },
                error: function(error) {

                    toastr.error(error.responseJSON.error);
                    
                }
            })
        })
    })
</script>  