{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    File Upload Page
{% endblock page-title %}


{% block content %}

        <div class="card">
            <div class="card-body">
                <div class="row row-cards">
                    <div class="col-8">
                            <div class="divide-y">
                                <div>
                                    <div class="row">
                                        
                                            <h1 class="page-title">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-stack" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                                    <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                                                    <path d="M5 21h14" />
                                                    <path d="M5 18h14" />
                                                    <path d="M5 15h14" />
                                                </svg>
                                            {{ upload_bin.parameter_component}} EVIDENCES
                                        </span>
                                        </h1>
                                        <div class="text-muted mt-1"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                </svg>
                                            {{ upload_bin.created_by.first_name }} {{ upload_bin.created_by.last_name }} - Last modified ({{ upload_bin.modified_at|date:"F j, Y g:i A" }})</div>
                                    </div>
                                </div>

                                <div>
                                    <div class="row">
                                        <div>
                                            <div class="datagrid">


                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Title</div>
                                                    <div class="datagrid-content">{{ upload_bin.title }}</div>
                                                </div>

                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Status</div>
                                                    <div class="datagrid-content">
                    
                                                        {% if upload_bin.status == "ur"  %}
                                                            <span class="status status-blue">
                                                                Under Review
                                                            </span>
                    
                                                        {% elif   upload_bin.status == "rfr" %}
                                                            <span class="status status-red">
                                                                Request for Resubmission
                                                            </span>

                                                        {% elif   upload_bin.status == "approve" %}
                                                        <span class="status status-green">
                                                            Approve
                                                        </span>
                                                        {% else %}

                                                        {% endif %}
                                                        
                                                    </div>
                                                </div>
                
                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Accepted File Size</div>
                                                    <div class="datagrid-content">{{ upload_bin.accepted_file_size}} MB</div>
                                                </div>
                
                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Accepted Max File</div>
                                                    <div class="datagrid-content"> {{upload_bin.accepted_file_count}}</div>
                                                </div>
                    
                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Accepted File Types</div>
                    
                                                        <div class="datagrid-content">
                                                            {% for file_type, display_name in file_type_mapping.items %}
                                                                {% if file_type in upload_bin.accepted_file_type %}
                                                                    {{ display_name }},
                                                                {% endif %}
                                                         
                                                            {% endfor %}
                                                        
                                                        </div>
                                                </div>
                    
                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Remarks</div>
                                                    <div class="datagrid-content"> {{ upload_bin.remarks }}</div>
                                                </div>
                    
                                                {% if not upload_bin.reviewed_by %}
                                                    <div class="datagrid-item">
                                                        <div class="datagrid-title">Reviewed by</div>
                                                        <div class="datagrid-content">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                                </svg>
                                                            {{upload_bin.reviewed_by.first_name}} {{upload_bin.reviewed_by.last_name}}
                                            
                                                        </div>
                                                    </div>

                                                    <div class="datagrid-item">
                                                        <div class="datagrid-title">Reviewed at</div>
                                                        <div class="datagrid-content">
                                                            <span class="status status-blue">
                                                                {{upload_bin.reviewed_at|date:"F j, Y g:i A"}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                
                                                {% endif %}
                    
                                                <div class="datagrid-item">
                                                    <div class="datagrid-title">Description</div>
                                                    <div class="datagrid-content" style="height:5rem">{{upload_bin.description}}</div>
                                                </div>
                    
                                            </div>
                                    
                                        </div>
                                
                                    </div>
                                </div>

                            </div>

                    </div>

                    <div class="col-4">
                        <div class="card p-4" style= "margin-top: 20px" >
                            <div class="card-status-top bg-green"></div>
                            <div class = "divide-y overflow-x">
                                <div class="row">
                                    <input type="file" name="file_path" id="file-path" required="" multiple>
                                </div>
                                Uploaded Files
                                {% for file in uploaded_files %}
                                    <div class="row">
                                    <a href="#"class="text-muted"> {{ file.file_name }}
                                    </a>
                         
                                    </div>
                                {% endfor %}

                            </div>
               
                        </div>
                    </div>	
                </div>
            </div>	

            <div class="card-footer">
                <a href="{% url "accreditations:program-accreditation-component" pk=comp_pk %}" class="btn me-auto">Cancel</a>
                <button type="button" class="btn btn-primary upload-button" id="upload-button">Submit</button>
            </div>

        </div>	
{% endblock content %}




{% block js_content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = []
        var acceptedFileTypes = {{ upload_bin.accepted_file_type|safe }};
        // Now acceptedFileTypes is a JavaScript array

        FilePond.registerPlugin(FilePondPluginFileValidateSize);    //Register plugin to validate file size
        FilePond.registerPlugin(FilePondPluginFileValidateType);    //Register plugin to validate file type
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.setOptions({
            allowMultiple:true,
            maxFiles:{{ upload_bin.accepted_file_count }},             //It sets the max file counts
            maxFileSize: '{{ upload_bin.accepted_file_size }}MB'      //It sets the accepted max storage size
        })
        const inputElement = document.querySelector('input[type="file"]');  //Convert input types that are file types into filepond
        var pond = FilePond.create( inputElement, {
            acceptedFileTypes:  acceptedFileTypes, // The lists are the accepted file types
            onaddfile: (err, fileItem) => {
                if (!err) {
                files.push(fileItem.file)
                }
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
                console.log(files)
            }
        } );

        var formData = new FormData();
        $(document).on('click', '#upload-button', function(e) {
            var url = "/accreditation/program-accreditation/area/parameter/upload-page/upload-evidences/"+{{ upload_bin.id }}+"/"+{{ comp_pk }}+"/";
            formData.append('length', files.length)
            for (var i = 0; i < files.length; i++) {
                formData.append('files' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function(response) {
                    // Check if the server response contains a 'redirect_url' field
                    if (response.redirect_url) {
                        // Redirect to the specified URL
                        window.location.reload()
                    }
                },
                error: function(error) {

                    toastr.error(error.responseJSON.error);
                    
                }
            })
        })
    })
</script>  

{% endblock js_content %}