[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-cors-headers = "*"
fontawesomefree = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
