<div class="row row-deck row-cards">
	{% if component_records %}
		<ul class="wtree">
				<!--List-->
			{% for component, upload_bins in indicator_details.items %}

				<script>
					document.addEventListener("DOMContentLoaded", function () {
						var el;
						window.TomSelect && (new TomSelect(el = document.getElementById('select-states-{{ component.id }}'), {
							copyClassesToDropdown: false,
							dropdownParent: document.querySelector('.create-upload-bin-modal-{{ component.id }} form-control'),
							controlInput: '<input>',
							render: {
								item: function(data, escape) {
									if (data.customProperties) {
										return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
									}
									return '<div>' + escape(data.text) + '</div>';
								},
								option: function(data, escape) {
									if (data.customProperties) {
										return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
									}
									return '<div>' + escape(data.text) + '</div>';
								},
							},
						}));
					});
				</script>


				<li>
					{% comment %} <span onclick="toggleList(this)"> {{ record.component }}</span> {% endcomment %}

					<span class="col-md-12 col-lg-12 card record-card" onclick="toggleList(this)"> <!--  START OF COMPONENT CARD  -->
						<div class="card-status-start bg-blue"></div>
		
						<div class="card-body row align-items-center">
							<div class="col-md-8 col-lg-8 ">
								{{ component.component }} 
							</div>
							<div class="col-auto ms-auto d-print-none">
								<div class="btn-list">
									<button class="btn btn-green w-20 btn-icon"  data-bs-toggle="modal" data-bs-target="#create-upload-bin-modal-{{ component.id }}">
									  <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
									  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
							
									</button>

									<!-- Button to trigger modal -->
									<button type="button" class="btn btn-primary w-20 btn-icon" data-bs-toggle="modal" data-bs-target="#edit-component-modal-{{ component.id }}">
										<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
										<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
										<path d="M16 5l3 3" />
										</svg>
									</button>

									<form method="POST" action="{% url 'accreditations:instrument-parameter-component-archive' url_pk=pk record_pk=component.id %}" id="component-archive-form-{{ component.id }}">
										{% csrf_token %}
										<button type="button" class="btn w-20 btn-icon btn-danger component-archive-button" data-id={{ component.id }}>
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M4 7l16 0"></path><path d="M10 11l0 6"></path>
												<path d="M14 11l0 6"></path><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
												<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
											</svg>
										</button>
									</form>
								

								</div>
							</div>
						</div>
					</span> <!--  END OF COMPONENT CARD  -->

 					<ul> <!--  START OF COMPONENT INDICATORS -->
						{% for upload_bin in upload_bins %}
							<script>
								document.addEventListener("DOMContentLoaded", function () {
									var el;
									window.TomSelect && (new TomSelect(el = document.getElementById('select-update-states-{{ upload_bin.id }}'), {
										copyClassesToDropdown: false,
										dropdownParent: document.querySelector('.update-upload-bin-modal-{{ upload_bin.id }} form-control'),
										controlInput: '<input>',
										render: {
											item: function(data, escape) {
												if (data.customProperties) {
													return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
												}
												return '<div>' + escape(data.text) + '</div>';
											},
											option: function(data, escape) {
												if (data.customProperties) {
													return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
												}
												return '<div>' + escape(data.text) + '</div>';
											},
										},
									}));
								});
							</script>
							{% if component.id == upload_bin.parameter_component_id %}
									<li>
										<span class="col-md-12 col-lg-12 card record-card indicator" onclick="toggleList(this)">
											<div class="card-status-start bg-green"></div>
											<div class="card-body row align-items-center">
												<div class="col-md-8 col-lg-8 ">
													{{ upload_bin.title }}
												</div>
												<div class="col-auto ms-auto d-print-none">
													<div class="btn-list">
			
					
														<!-- Button to trigger UPLOAD BIN modal -->
														<button type="button" class="btn btn-primary w-20 btn-icon" data-bs-toggle="modal" data-bs-target="#edit-upload-bin-modal-{{ upload_bin.id }}">
															<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
															<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
															<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
															<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
															<path d="M16 5l3 3" />
															</svg>
														</button>

														<form method="POST" action="{% url 'accreditations:instrument-parameter-uploadBin-archive' url_pk=pk record_pk=upload_bin.id %}" id="upload-bin-archive-form-{{ upload_bin.id }}">
															{% csrf_token %}
															<button type="button" class="btn w-20 btn-icon btn-danger upload-bin-archive-button" data-id={{ upload_bin.id }}>
																<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
																	<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
																	<path d="M4 7l16 0"></path><path d="M10 11l0 6"></path>
																	<path d="M14 11l0 6"></path><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
																	<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
																</svg>
															</button>
														</form>
													

														<button type="button" class="btn w-20 btn-icon btn-secondary" data-bs-toggle="modal" data-bs-target="#configure-modal-{{ upload_bin.id }}">
															<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
																<path stroke="none" d="M0 0h24v24H0z" fill="none" />
																<path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
																<path d="M12 10.5v1.5" />
																<path d="M12 16v1.5" />
																<path d="M15.031 12.25l-1.299 .75" />
																<path d="M10.268 15l-1.3 .75" />
																<path d="M15 15.803l-1.285 -.773" />
																<path d="M10.285 12.97l-1.285 -.773" />
																<path d="M14 3v4a1 1 0 0 0 1 1h4" />
																<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
															  </svg>
														</button>

													</div>
												</div>
											</div>
										</span>
									</li>	
								{% include "accreditation-parameter-component/main-page/uploadBin-edit-modal.html" %}
								{% include "accreditation-parameter-component/main-page/uploadBin-configure-modal.html" %}
							{% endif %}
							
							
						{% endfor %}
					</ul> <!--  END OF COMPONENT INDICATORS --> 

				</li>
				{% include "accreditation-parameter-component/main-page/uploadBin-create-modal.html" %}			
				{% include "accreditation-parameter-component/main-page/component-edit-modal.html" %}
			{% endfor %}
	
		</ul>

	{% else %}
		<div class="empty">
			<div class="empty-header">0 records</div>
			<p class="empty-title">Oops… It seems like there are no records in this page. </p>
			<p class="empty-subtitle text-muted">
			You can create a record if you like. Just click the 'create' button and save the details.
			</p>
			<div class="empty-action">
				<a href="{% url "dashboards:dashboard-landing" %}" class="btn btn-primary">
					<!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg>
					Take me home
				</a>
			</div>
		</div>
	{% endif %}

  </div>