<style>
    .wtree li {
      list-style-type: none;
      margin: 10px 0 10px 10px;
      position: relative;

    }

    .wtree li:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -20px;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      width: 20px;
      height: 15px;

    }

    .wtree li:after {
      position: absolute;
      content: "";
      top: 5px;
      left: -20px;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      width: 20px;
      height: 100%;
      
    }

    .wtree li:last-child:after {
      display: none;
      
    }

    .wtree li > span {
      display: block;
      border: 1px solid #ddd;
      color: #888;
      text-decoration: none;
      cursor: pointer;
      
    }

    .wtree ul {
      display: none;
      margin-left: 20px; /* Adjust as needed */
    }

    .wtree li > span + ul {
      display: none;
    }

    .wtree li > span.clicked + ul {
      display: block;

    }

    .wtree li > span:hover,
    .wtree li > span:focus {
      background: #f1f1f1;
      color: #000;
      border: 1px solid #aaa;
    }

    .record-card.clicked {
      background: #eee;
      color: #000;
      border: 0.5px solid #aaa;
      
    }

    .wtree li > span + ul li span {
      background: #eee;
      color: #000;
      border: 1px solid #aaa;

    }

    .wtree li > span + ul li:after,
    .wtree li > span + ul li:before {
      border-color: #aaa;
      transition: height 0.9s ease-in-out;
    }
  
</style>