{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal create-upload-bin-modal-{{ component.id }} modal-blur fade" id="create-upload-bin-modal-{{ component.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      	<div class="modal-content">
        	<div class="modal-header">
          		<h1 class="modal-title">Add an upload bin</h1>
          		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        	</div>
        	<div class="modal-body">

				<form method="POST" autocomplete="off" id="create-upload-bin-form-{{ component.id }}">
				{% csrf_token %}

				<div class="mb-3">
					<label class="form-label required">Title</label>
					<input type="text" class="form-control" name="title" placeholder="Input Title" required>
				</div>

					<div class="mb-3">
						<label class="form-label">Description</label>
						<textarea class="form-control" id="description" name="description" placeholder="Input upload bin description" data-bs-toggle="autosize"></textarea>
					  </div>
					  
			</div>
					<div class="modal-footer">
						<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
						<button id="submit-upload-bin-{{ component.id }}" data-component-id={{ component.id }} type="button" class="submit-upload-bin btn btn-primary">Save</button>
					</div>
				</form>

    	</div>
  	</div>
</div>
