{% load static %}
<div class="card-container" id="team"
style="background-image: url(/static/assets/guest/landing-page/images/bg-pup.png); background-size: cover; background-repeat: no-repeat;">
	<div class="container-fluid px-3 py-3">
		<div class="row center mx-4 my-4 text-white">
			<h2>Real Time Analytics</h2>
			<p>These provide insights into the organization's compliance with accreditation and certification standards, 
				progress in the evaluation process, and areas for improvement. These analytics help administrators 
				and stakeholders make informed decisions and demonstrate the organization's commitment to quality.</p>
		</div>
		<!-- Main content -->
		<div class="container-fluid">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(43, 35, 201) 0%, rgba(3,3,186,1) 35%, rgb(0, 102, 255) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px;">

						<div class="inner">
							<h3 style="font-weight:bold; color: #ffffff;">15,280</h3>

							<p style="font-weight:300; color: #ffffff;">Students</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-graduation-cap fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(63, 201, 35) 0%, rgb(40, 186, 3) 35%, rgb(102, 255, 0) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px;;">

						<div class="inner">
							<h3 style="font-weight:bold; color: #ffffff;">150</h3>

							<p style="font-weight:300; color: #ffffff;">Accredited Programs</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-book fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(201, 198, 35) 0%, rgb(183, 186, 3) 35%, rgb(251, 255, 0) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px; margin-bottom: 30px;">

						<div class="inner">
							<h3 style="font-weight:bold; color: #ffffff;">55%</h3>

							<p style="font-weight:300; color: #ffffff;">Lorem Ipsum</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-code-fork fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(201, 35, 35) 0%, rgb(186, 3, 3) 35%, rgb(255, 0, 0) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px;;">
						<div class="inner">
							<h3 style="font-weight:bold; color: #ffffff;">3,150</h3>

							<p style="font-weight:300; color: #ffffff;">Lorem Ipsum</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-network-wired fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(201, 110, 35) 0%, rgb(186, 107, 3) 35%, rgb(255, 166, 0) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px; margin-bottom: 10%;">
						<div class="inner">
							<canvas id="chart1" width="20" height="20"></canvas>
							<h3 style="font-weight:bold; color: #ffffff;">3,150</h3>

							<p style="font-weight:300; color: #ffffff;">Lorem Ipsum</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-network-wired fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(201, 35, 201) 0%, rgb(143, 3, 186) 35%, rgb(234, 0, 255) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px;;">
						<div class="inner">
							<canvas id="chart2" width="20" height="20"></canvas>
							<h3 style="font-weight:bold; color: #ffffff;">3,150</h3>

							<p style="font-weight:300; color: #ffffff;">Lorem Ipsum</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-network-wired fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(201, 35, 126) 0%, rgb(186, 3, 116) 35%, rgb(255, 0, 170) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px;;">
						<div class="inner">
							<canvas id="chart3" width="20" height="20"></canvas>

							<h3 style="font-weight:bold; color: #ffffff;">3,150</h3>

							<p style="font-weight:300; color: #ffffff;">Lorem Ipsum</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-network-wired fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div style="width: 18rem;
			background: linear-gradient(180deg, rgb(35, 201, 201) 0%, rgb(3, 186, 186) 35%, rgb(0, 255, 234) 100%);
			border-radius: 10px; /* Adjust the value to your desired roundness */
			box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
			padding: 20px;">
						<div class="inner">
							<canvas id="chart4" width="20" height="20"></canvas>

							<h3 style="font-weight:bold; color: #ffffff;">3,150</h3>

							<p style="font-weight:300; color: #ffffff;">Lorem Ipsum</p>
						</div>
						<div class="icon">
							<i class="fa-solid fa-network-wired fa-2xl"
								style="position: relative; margin-left: 200px; color: #ffffff;"></i>
						</div>
						<a href="#" class="small-box-footer"
							style="text-decoration: none; color: #ffffff; font-weight: 100;">More info <i
								class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>


			</div>
			<!-- /.row -->
			<!-- /Main row -->
		</div>
		<!-- /.row (main row) -->
	</div><!-- /.container-fluid -->
	<!-- /.content -->
	</div>
</div>