{% load static %}
<div class="events-container mt-4 mb-4" id="events">
    <div class="container-fluid">
        <div class="row center mx-4 my-4">
            <h2>Happenings now in the Campus </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat in est blanditiis rerum eos eveniet
                provident, ex quam possimus eius.</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-group">
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image1.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/imagae2.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image3.jpg' %} " class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image4.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image5.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image6.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image7.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/image8.jpg' %}" class="card-img-top" style="height:300px" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'assets/guest/landing-page/images/OIP-removebg-preview.png' %}" class="card-img-top" style="height:300px"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Martina doena</h5>
                                <p class="card-text">Highly proficient in Web3 and AI and professional in Designing
                                    Websites
                                    with tools of Web3.0.</p>
                                <a href="#" class="btn org-btn">Learn More.</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>