<div class="banner-container mt-5 mb-5" id="featured">
    <div class="container-fluid px-4 py-4">
        <div class="card bg-black text-white shadow-lg ">
            <h5 class="card-header">Featured Courses</h5>
            <div class="card-body">
                <div class="conatiner">
                    <div class="row d-flex justify-content-around">
                        <div class="col">
                            <div class="card text-black move-up mb-3">
                                <div class="card-header">Web Development</div>
                                <div class="card-body">
                                    <h5 class="card-title">Front End + Backend</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-black move-up mb-3">
                                <div class="card-header">Web3.0</div>
                                <div class="card-body">
                                    <h5 class="card-title">Web3 and Tools</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-black move-up mb-3">
                                <div class="card-header">Java Masterclass</div>
                                <div class="card-body">
                                    <h5 class="card-title">Begineer Course</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-black move-up mb-3">
                                <div class="card-header">Python </div>
                                <div class="card-body">
                                    <h5 class="card-title">Python AI</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>