{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal modal-blur fade" id="create-subindicator-modal-{{ indicator.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      	<div class="modal-content">
        	<div class="modal-header">
          		<h1 class="modal-title">Add a sub indicator</h1>
          		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        	</div>
        	<div class="modal-body">

				<form method="POST" autocomplete="off" id="create-subindicator-form-{{ indicator.id }}">
					{% csrf_token %}

					<div class="mb-3">
						{{ indicator_form|crispy }}
					</div>
			</div>
					<div class="modal-footer">
						<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
						<button id="submit-indicator" data-component-id={{ component.id }} data-indicator-id= {{ indicator.id }} type="button" class="btn btn-primary submit-subindicator">Save</button>
					</div>
				</form>

    	</div>
  	</div>
</div>
  