{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Areas Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search levels..."/>
        {% if perms.Accreditation.add_instrument_level_area %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
        {% endif %}

        {% if perms.Accreditation.delete_instrument_level_area %}
            <a href="{% url "accreditations:instrument-level-area-archive-page" pk=pk%}" class="btn btn-success" type="button">
                Archive <i class="fa-solid fa-arrow-right"></i>
            </a> 
        {% endif %}


{% endblock page-title-actions %}

{% block content %}

    {% if perms.Accreditation.view_instrument_level_area %}
        {% include "accreditation-level-area/main-page/area-cards.html" %}
    {% endif %}

    {% if perms.Accreditation.add_instrument_level_area %}
        {% include "accreditation-level-area/main-page/create-modal.html" %}
    {% endif %}

    {% if perms.Accreditation.add_instrument_level_area or perms.Accreditation.change_instrument_level_area or perms.Accreditation.delete_instrument_level_area %}
        {% include "accreditation-level-area/main-page/scripts.html" %}

        {% include "accreditation-level-area/main-page/styles.html" %}
    {% endif %}

{% endblock content %}



