
<!--announcements-->
<div class="container-annoucement">
    <input class="form-control" type="text" placeholder="Announcements" aria-label="Disabled input example"
    disabled>
    <br>
</div>

 <!-- Four cards -->
 <div class="row">


        <div class="col-md-6 col-lg-3">
            <a href="{% url 'program-landing' %}" class="anchor-tag-card">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title"><i class="fas fa-users fa-2x"></i>
                            <span>Students</span>
                        </h1>
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>

                        <div class="mt-3"> <span class="text1" style="color: #000000;">20,000 <span class="text2"
                            style="color: rgb(119, 117, 117);">AY: 2023-2024 </span></span> 
                        </div>
                    </div>
                </div>
            </a>
        </div>


    <div class="col-md-6 col-lg-3">
        <a href="#" class="anchor-tag-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-users fa-2x"></i>
                        <span>Users</span>
                    </h1>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="mt-3"> <span class="text1" style="color: #000000;">5 Active <span class="text2"
                        style="color: rgb(8, 8, 8);">of 7 users</span></span> 
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-6 col-lg-3">
        <a href="#" class="anchor-tag-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-users fa-2x"></i>
                        <span>Accreditation</span>
                    </h1>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>

                    <div class="mt-3"> <span class="text1" style="color: #000000;">10 Ongoing <span class="text2"
                            style="color: rgb(8, 8, 8);">Accreditations</span></span> 
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-6 col-lg-3">
        <a href="#" class="anchor-tag-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-users fa-2x"></i>
                        <span>Campuses</span>
                    </h1>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>

                    <div class="mt-3"> <span class="text1" style="color: #000000;">25 <span class="text2"
                            style="color: rgb(119, 117, 117);">branches and campuses</span></span> 
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
<!-- End of Four cards -->

<!-- Styles -->
<style>
.anchor-tag-card {
    color: black;
    text-decoration: none;
  }
</style>