

<div class="col-md-12 col-lg-6">
  <div class="row row-cards">
    <!--Ongoing Accreditation Card-->
    <div class="col-sm-6 col-lg-6">
      <a href="#" class="card card-link card-link-pop" data-bs-toggle="modal" data-bs-target="#modal-full-width">
        <div class="card-status-top bg-blue"></div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">All Ongoing Accreditation</div>
          </div>
          <div class="h1 mb-3">

            <span class="text-blue">{{ under_accred_programs_count }}</span>

            {% if under_accred_programs_count == 1 %}
              <span class="h2 text-muted">PROGRAM</span>

            {% elif under_accred_programs_count > 1 %}
                <span class="h2 text-muted">PROGRAMS</span>

            {% else %}
                <span class="h2 text-muted">PROGRAM</span>

            {% endif %}


          </div>
          <div class="d-flex mb-2">
            {% comment %} <div>Overall Progress</div> {% endcomment %}
            <span>Overall Progress</span>
            <div class="ms-auto">
              <span class="badge bg-blue-lt d-inline-flex align-items-center lh-1">
                {{ progress_percentage_result }}% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg>
              </span>
            </div>
          </div>
          
          <div class="progress progress-sm">
            <div class="progress-bar bg-primary" style="width: {{ progress_percentage_result }}%" role="progressbar" aria-valuenow="{{ progress_percentage_result }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ progress_percentage_result }}% Complete">
              <span class="visually-hidden">{{ progress_percentage_result }}% Complete</span>
            </div>
          </div>
        </div>
      </a>
    </div> 
              
              
    <!--READY FOR ACTUAL SURVEY VISIT-->
    <div class="col-sm-6 col-lg-6">
      <a href="#" class="card card-link card-link-pop" data-bs-toggle="modal" data-bs-target="#ready-accred-modal">
        <div class="card-status-top bg-blue"></div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">COUNTS</div>
          </div>
          <div class="h1 mb-3">
            <span class="text-green">{{ survey_ready_data.survey_ready_count }}</span>

            {% if survey_ready_data.survey_ready_count == 1 %}
              <span class="h2 text-muted">PROGRAM</span>

            {% elif survey_ready_data.survey_ready_count > 1 %}
                <span class="h2 text-muted">PROGRAMS</span>

            {% else %}
                <span class="h2 text-muted">PROGRAM</span>

            {% endif %}
            
          </div>
          <div class="d-flex mb-2">
              <div>
                <span class="badge bg-green-lt">Survey Visit Ready</span>
              
            </div>
          </div>
        </div>
      </a>
    </div>



    <!--READY FOR ACTUAL SURVEY VISIT-->
    <div class="col-sm-6 col-lg-6">
      <a href="#" class="card card-link card-link-pop" data-bs-toggle="modal" data-bs-target="#awaiting-result-modal">
        <div class="card-status-top bg-blue"></div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">COUNTS</div>
          </div>
          <div class="h1 mb-3">

            <span class="text-indigo">{{ awaiting_result_data.awaiting_result_count }}</span>

            {% if awaiting_result_data.awaiting_result_count == 1 %}
              <span class="h2 text-muted">PROGRAM</span>

            {% elif awaiting_result_data.awaiting_result_count > 1 %}
                <span class="h2 text-muted">PROGRAMS</span>

            {% else %}
                <span class="h2 text-muted">PROGRAM</span>

            {% endif %}
          
          </div>
          <div class="d-flex mb-2">
              <div>
                <span class="badge bg-indigo-lt">Awaiting Results</span>
            </div>
          </div>
        </div>
      </a>
    </div>
      
    <!--READY FOR ACTUAL SURVEY VISIT-->
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-status-top bg-blue"></div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">COUNTS</div>
          </div>
          <div class="h1 mb-3">2 
            <span class="h2 text-muted">PROGRAMS</span>
          </div>
          <div class="d-flex mb-2">
              <div>
                <span class="badge bg-cyan-lt">Recieved Certification</span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!--READY FOR ACTUAL SURVEY VISIT-->
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-status-top bg-blue"></div>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">COUNTS</div>
          </div>
          <div class="h1 mb-3">75 
            <span class="h2 text-muted">PROGRAMS</span>
          </div>
          <div class="d-flex mb-2">
              <div>
                  <span class="badge bg-orange-lt">Survey Revisit</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
