{% extends "base.html" %}
{% block content %}

<br>
<br>            
<div class="chart-grid"> <!--graphs and analytics-->
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Compliance Metrics</h6>
                    </div>
                    
                    <div class="panel-body">
                        <canvas id="chart1" style="width:100%; height: 300px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Improvement Impact Analysis</h6>
                    </div>
                    <div class="panel-body">
                        <canvas id="chart2" style="width:100%; height: 300px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Analysis Improvement</h6>
                    </div>
                    <div class="panel-body">
                        <canvas id="chart3" style="width:100%; height: 300px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Accreditation Changes</h6>
                    </div>
                    <div class="panel-body">
                        <canvas id="chart4" style="width:100%; height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   <!-- charts ends here -->

<hr>
<section class="wrapper "><!--News and forecast-->
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h1 class="display-4 font-weight-bolder">Polytechnic University of the Philippines Quezon City</h1>
                <p class="lead">News and forecast</p>
                <p class="lead">As of June 2020 | See also: Certificate of Program Compliance (COPC)</p>
            </div>
        </div>

    </div>
</section>

{% endblock content %}