{% extends "base.html" %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Dashboard 
{% endblock page-title %}


{% block content %}



    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-title">Announcement</h4>
          <div class="text-secondary">Accreditation and Certification Management Information System is a system that can help PUP-QC for programmatic accreditation.</div>
        </div>

        <div class="hr-text"></div>
        
          {% include "dashboard_landing/counter-cards.html" %}


        <div class="hr-text">Programs Under Accreditation</div>
        <!--Campuses-->
        <div class="col-12">
              {% include "dashboard_landing/program-accreditation-cards.html" %}

        </div>  
      </div>
      <!--TASK-->
    </div>
  
{% endblock content %}