{% extends "base.html" %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Dashboard 
{% endblock page-title %}


{% block content %}
  
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-title">Announcement</h4>
          <div class="text-secondary">Accreditation and Certification Management Information System is a system that can help PUP-QC for programmatic accreditation.</div>
        </div>

        <div class="hr-text"></div>

          {% include "dashboard_landing/counter-cards.html" %}
          {% include "dashboard_landing/review-card.html" %}

        <div class="hr-text">Accreditation Counts Charts</div>
        {% include "dashboard_landing/accreditation-count-charts.html" %}

        <div class="hr-text">Progress Percentage Summary</div>
        {% include "dashboard_landing/progress-program-count-chart.html" %}

        <!--Campuses-->
        <div class="col-12">
              {% comment %} {% include "dashboard_landing/program-accreditation-cards.html" %} {% endcomment %}

        </div>  
      </div>
      <!--TASK-->
    </div>
  
{% endblock content %}


{% block css_content %}
  {% include "dashboard_landing/style.html" %}
{% endblock css_content %}

{% block js_content %}
  {% include "dashboard_landing/script.html" %}
{% endblock js_content %}

{% block modal_content %}
  {% include "dashboard_landing/ready-accred-modal.html" %}
  {% include "dashboard_landing/under-accred-modal.html" %}
  {% include "dashboard_landing/awaiting-accred-modal.html" %}
  {% include "dashboard_landing/recieved-certification-modal.html" %}
  {% include "dashboard_landing/survey-revisit-modal.html" %}
  {% include "dashboard_landing/failed-result-modal.html" %}

{% endblock modal_content %}
