<!-- graphs and analytics -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6>Compliance Metrics</h6>
                </div>
                <div class="panel-body">
                    <canvas id="myChart" style="width:100%; max-width:500px;"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6>Improvement Impact Analysis</h6>
                </div><br>
                <div class="panel-body">
                    <div id="chartContainer" style="height: 240px; width: 90%;"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- charts end here -->
