<div class="modal modal-blur fade" id="review-modal-{{record.id}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		
		<div class="modal-header">
		  <h5 class="modal-title">Review Modal</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="row row-cards">
				<div class="col-sm-12 col-lg-12">
					<div class="card">
						<div class="card-status-top bg-cyan"></div>
						<div class="card-body">
							<h3 class="card-title">Folder Details</h3>
							
							<div class="row row-cards">
								<div class="datagrid">

									<div class="datagrid-item">
										<div class="datagrid-title">Folder Name</div>
										<div class="datagrid-content">{{ record.name }}</div>
									</div>

									<div class="datagrid-item">
										<div class="datagrid-title">Program</div>
										<div class="datagrid-content">{{ record.instrument_level.instrument.program }}</div>
									</div>

									<div class="datagrid-item">
										<div class="datagrid-title">Accreditation Level</div>
										<div class="datagrid-content">{{ record.instrument_level}}</div>
									</div>

								</div>
							</div>


						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row row-cards">

						
						{% include "dashboard_landing/folder-cards.html" %}

						<div class="col-sm-12 col-lg-6">
							<div class="card">
								<div class="card-status-top bg-cyan"></div>
								<div class="card-body">
									<form id="review-upload-form-{{ record.id }}">
										<div class="mb-3">
											<label class="form-label required">{{ review_form.status.label }}</label>
											{{ review_form.status }}
										</div>

										<div class="mb-3">
											<label class="form-label">{{ review_form.remarks.label }}</label>
											<textarea class="form-control" id="id_remarks" name="remarks" placeholder="Input your remarks here..."
											style="height: 10rem"></textarea>
										</div>


								</div>
							</div>
						</div>
						
					</div>
				</div>

			</div>

		</div>
			
		<div class="modal-footer">
		  <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
		  <button type="button" data-id="{{ record.id }}" class="btn btn-primary review-upload-button">Submit</button>
		</div>
									</form>
	</div>
  </div>
</div>

{% block modal_content %}
	{% for uploaded_record in uploaded_records %}
		{% if record.id == uploaded_record.record_id %}
			{% include "dashboard_landing/file-view-modal.html" %}
		{% endif %}
	{% endfor %}
{% endblock modal_content %}

