<div class="col-md-12 col-lg-6">
    <div class="card" style="height: 26rem">
      <div class="card-header">
        <h3 class="card-title">Reviewer Tasks</h3>
      </div>
      <div class="card-body table-responsive">
        <table id="review-table" class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Program</th>
              <th>Instrument Name</th>
              <th>Instrument Level</th>
            </tr>
          </thead>
          <tbody>
            {% for record in reviewable_folders %}
              <tr style="font-size: 10px">
                <td>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#review-modal-{{record.id}}">{{ record.name }}</a>
                </td>

                <td class="text-nowrap text-muted">
                  {{ record.instrument_level.instrument.program }}
                </td>

                <td class="text-nowrap text-muted">
                  {{ record.instrument_level.instrument.name }}
                </td>

                <td class="text-nowrap text-muted">
                  {{ record.instrument_level.level}}
                </td>
            </tr>

            {% block modal_content %}
              {% include "dashboard_landing/review-modal.html" %}
            {% endblock modal_content %}

          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>

  </div>
  