<style>
    /* ==== Data table  = Start ===== */

    .data_table .btn{
        padding: 5px 10px;
        margin: 10px 3px 10px 0;
    }
    
    /* ==== Data table  = End  ===== */
    
.folder-icon {
    width: 10vw; /* Adjust this value as needed */
    height: 10vw; /* Adjust this value as needed */
    max-width: 72px; /* Set a maximum width */
    max-height: 72px; /* Set a maximum height */
}

/* Optional: Adjust the size for larger screens */
@media (min-width: 768px) {
    .folder-icon {
        width: 72px;
        height: 72px;
    }
}
</style>