<!--Compliance Metrics-->
<div class="col-sm-6 col-lg-3">
	<a href="#" class="card card-link card-link-pop" data-bs-toggle="modal" data-bs-target="#modal-full-width">
		<div class="card-body">
			<div class="d-flex align-items-center">
				<div class="subheader">All Under Accreditation</div>
			</div>
			<div class="h1 mb-3">
				{{ under_accred_programs_count }} PROGRAMS
			</div>
			<div class="d-flex mb-2">
				<div>Overall Progress</div>
				<div class="ms-auto">
					<span class="text-green d-inline-flex align-items-center lh-1">
						{{ progress_percentage_result }}% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
						<svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg>
					</span>
				</div>
			</div>

			
			<div class="progress progress-sm">
				<div class="progress-bar bg-primary" style="width: {{ progress_percentage_result }}%" role="progressbar" aria-valuenow="{{ progress_percentage_result }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ progress_percentage_result }}% Complete">
					<span class="visually-hidden">{{ progress_percentage_result }}% Complete</span>
				</div>
			</div>
		</div>
	</a>
</div>