{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Archived Parameters
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search instrument..."/>
        <a href="{% url 'accreditations:parameter-landing' %}" type="button" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>

{% endblock page-title-actions %}

{% block content %}

    {% include "accreditation-parameter/archive-page/parameter-cards.html" %}

    {% include "accreditation-parameter/archive-page/scripts.html" %}
   
{% endblock content %}



