<div class="row row-cards">

    <!-- For LOOP HERE-->
    {% for record, update_form, created_by, modified_by in details  %}
        <div class="col-sm-6 col-lg-4">
            <div class="card" onmouseover="addHoverClass(this)" onmouseout="removeHoverClass(this)">
                <div class="card-status-start bg-red"></div>
                <div class="card-body">
                    <div class="d-flex align-items-center">

                        <div class="subheader"> {{ record.instrument_level.level }} </div>

                        <div class="ms-auto lh-1">
                            
                            <div class="dropdown">
                                <a class="text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#view-modal-{{ record.id }}">View</button>
                                    <button class="dropdown-item edit-button" data-bs-toggle="modal" data-bs-target="#edit-modal-{{ record.id }}">Edit</button>
                                    <a  href={% url 'accreditations:accreditation-restore' pk=record.id %} class="dropdown-item">Restore</a>
                                    <button type="button" class="dropdown-item text-danger delete-button" id="delete-button" data-id={{ record.id }}>Delete</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a href="{% url 'accreditations:program-accreditation-area' pk=record.instrument_level.id %}">
                        <div class="h3 mb-3">{{ record.program.program_name }}</div>
                    </a>
                    <div class="d-flex">
                        <div class="subheader">Accreditation Progress</div>
                        <div class="ms-auto">
                            <span class="text-green d-inline-flex align-items-center lh-1 subheader">
                                15% Done
                        </div>
                    </div>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 15%" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" aria-label="15% Complete">
                            <span class="visually-hidden">15% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "accreditation-page/program-accreditation/main-page/view-modal.html" %}
        {% include "accreditation-page/program-accreditation/main-page/edit-modal.html" %}

    {% endfor %}
</div>