{% extends "base.html" %}


<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Areas Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search accreditation type..."/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create</button>
        <a href="{% url 'accreditations:area-archive-page' %}" class="btn btn-success" type="button">Archive <i class="fa-solid fa-arrow-right"></i></a> 
{% endblock page-title-actions %}



{% block content %}
    <!-- LEVEL CARDS -->
    {% include "accreditation-areas/main-page/area-cards.html" %}

  
    <!-- MODALS-->
    {% include "accreditation-areas/main-page/create-modal.html" %}

    <!-- scripts -->
    {% include "accreditation-areas/main-page/scripts.html" %}

{% endblock content %}