{% extends "base.html" %}


<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Areas Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search Area..."/>
        {% if perms.Accreditation.add_area %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create</button>
        {% endif %}

        {% if perms.Accreditation.delete_area %}
            <a href="{% url 'accreditations:area-archive-page' %}" class="btn btn-success" type="button">Archive <i class="fa-solid fa-arrow-right"></i></a> 
        {% endif %}
{% endblock page-title-actions %}



{% block content %}

{% if perms.Accreditation.view_area %}
    <!-- LEVEL CARDS -->
    {% include "accreditation-areas/main-page/area-cards.html" %}
{% endif %}
  
{% if perms.Accreditation.add_area %}
    <!-- MODALS-->
    {% include "accreditation-areas/main-page/create-modal.html" %}
{% endif %}

{% if perms.Accreditation.add_area or perms.Accreditation.change_area or perms.Accreditation.view_area or perms.Accreditation.delete_area %}
    <!-- scripts -->
    {% include "accreditation-areas/main-page/scripts.html" %}
{% endif %}

{% endblock content %}