{% extends "base.html" %}
{% load static %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    User Groups Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search program…"/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
        <a href="{% url 'programs:archive-landing' %}" type="button" class="btn btn-success">
            Archive <i class="fa-solid fa-arrow-right"></i>
        </a>
{% endblock page-title-actions %}


{% block content %}
	
HASHASHASHSAH


{% endblock content %}

