{% extends "base.html" %}
{% load static %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    User Groups Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search program…"/>
        <a  href="{% url 'users:user-groups-create' %}" type="button" class="btn btn-primary">
            Create <i class="fa-solid fa-arrow-right"></i>
        </a>

        <a href="{% url 'users:user-groups-archive-page' %}" type="button" class="btn btn-success">
            Archive <i class="fa-solid fa-arrow-right"></i>
        </a>
{% endblock page-title-actions %}


{% block content %}
	
        {% include "user-groups/main-page/group-cards.html" %}

        {% include "user-groups/main-page/scripts.html" %}

{% endblock content %}

