{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal  modal-blur fade" id="edit-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      	<div class="modal-content">
        	<div class="modal-header">
          	<h1 class="modal-title">Update {{ record.name }} Accreditation Type</h1>
          	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

			<form method="POST" 
				autocomplete="off" 
				id="update-accreditation-form-{{ record.id }}"
				class="update-accreditation-form"
				data-id={{ record.id }}>
				{% csrf_token %}
				<div class="mb-3">
					<label class="form-label required">{{ update_form.program.label }}</label>
					{{ update_form.program }}
				</div>

				<div class="mb-3">
					<label class="form-label required">{{ update_form.instrument_level.label }}</label>
					{{ update_form.instrument_level }}
				</div>

				<div class="mb-3 row">
					<div class="col">
						<label class="form-label required">Mock Accreditation Date</label>
						{{ update_form.mock_accred_date }}
					</div>

					<div class="col">
						<label class="form-label required">{{ update_form.survey_visit_date.label }}</label>
						{{ update_form.survey_visit_date }}
					</div>
				</div>

				<div class="mb-3">
					<label class="form-label">{{ update_form.description.label }}</label>
					{{ update_form.description }}
				</div>
		</div>
				<div class="modal-footer">
					<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
					<button id="save-changes-{{ record.id }}" type="submit" class="btn btn-primary save-changes-button">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
