{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
		Programs Undergoing Accreditation
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
				<input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search program..."/>
				{% if perms.Accreditation.add_program_accreditation %}
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-accreditation-modal">Create</button>
				{% endif %}

				{% if perms.Accreditation.delete_program_accreditation %}
					<a href="{% url "accreditations:accreditation-archive-page" %}" class="btn btn-green d-none d-sm-inline-block">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M4 7l16 0" />
							<path d="M10 11l0 6" />
							<path d="M14 11l0 6" />
							<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
							<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
						</svg>
						Recycle Bin
					</a>
				{% endif %}
{% endblock page-title-actions %}

{% block content %}


	{% if perms.Accreditation.view_program_accreditation %}



        <!-- Page body -->
        <div class="page-body">
			<div class="container-xl">
			  <ul class="nav nav-bordered mb-4" data-bs-toggle="tabs"> 
				<li class="nav-item">
				<a href="#ongoing" class="nav-link active" data-bs-toggle="tab">Ongoing Accreditation</a>
				</li>
				<li class="nav-item">
				<a href="#completed" class="nav-link" data-bs-toggle="tab">Completed Accreditation</a>
				</li>
	
			  </ul>
			<div class="row">
				<div class="tab-content">
					<div class="tab-pane fade active show" id="ongoing">
						<h4>Ongoing Accreditations</h4>
						{% include "accreditation-page/program-accreditation/main-page/ongoing-accreditation-cards.html" %}
					</div>

					<div class="tab-pane fade" id="completed">
						<h4>Completed Accreditations</h4>
						{% include "accreditation-page/program-accreditation/main-page/completed-accreditation-cards.html" %}
					</div>
				</div>
			</div>

		</div>
	</div>







	{% endif %}

	{% if perms.Accreditation.add_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/create-modal.html" %}
	{% endif %}

{% endblock content %}

{% block js_content  %}
	{% if perms.Accreditation.add_program_accreditation or perms.Accreditation.change_program_accreditation or perms.Accreditation.delete_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/scripts.html" %}
	{% endif %}
{% endblock js_content %}

{% block css_content %}
	{% if perms.Accreditation.view_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/styles.html" %}
	{% endif %}
{% endblock  %}






