{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
		Program Accreditations
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
				<input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search program..."/>
				{% if perms.Accreditation.add_program_accreditation %}
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-accreditation-modal">Create</button>
				{% endif %}

				{% if perms.Accreditation.delete_program_accreditation %}
					<a href="{% url "accreditations:accreditation-archive-page" %}" class="btn btn-success" type="button">
							Archive <i class="fa-solid fa-arrow-right"></i>
					</a> 
				{% endif %}
{% endblock page-title-actions %}

{% block content %}


	{% if perms.Accreditation.view_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/accreditation-cards.html" %}
	{% endif %}

	{% if perms.Accreditation.add_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/create-modal.html" %}
	{% endif %}

{% endblock content %}

{% block js_content  %}
	{% if perms.Accreditation.add_program_accreditation or perms.Accreditation.change_program_accreditation or perms.Accreditation.delete_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/scripts.html" %}
	{% endif %}
{% endblock js_content %}

{% block css_content %}
	{% if perms.Accreditation.view_program_accreditation %}
		{% include "accreditation-page/program-accreditation/main-page/styles.html" %}
	{% endif %}
{% endblock  %}






