<!-- Modal -->
<div class="modal modal-blur fade" id="view-modal-{{ record.id }}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">View Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="card">
                    <div class="card-status-top bg-info"></div>
					<div class="card-header">
					    <h3 class="card-title">Program Accreditation Info</h3>
					</div>
					<div class="card-body">
					    <div class="datagrid">


                                <div class="datagrid-item">
                                    <div class="datagrid-title">Program</div>
                                    <div class="datagrid-content">{{ record.program.program_name }}</div>
                                </div>

                                <div class="datagrid-item">
                                    <div class="datagrid-title">Accreditation Level</div>
                                    <div class="datagrid-content">Applying for {{ record.instrument_level.level}}</div>
                                </div>

                                <div class="datagrid-item">
                                    <div class="datagrid-title">Accreditation Instrument</div>
                                    <div class="datagrid-content"> {{record.instrument_level}}</div>
                                </div>



                            <div class="datagrid-item">
                                <div class="datagrid-title">Mock Accreditation Date</div>
                                <div class="datagrid-content"> {{ record.mock_accred_date|date:"F j, Y g:i A" }}</div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">Date of Actual Survey</div>
                                <div class="datagrid-content"> {{ record.survey_visit_date|date:"F j, Y g:i A" }}</div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">status</div>
                                <div class="datagrid-content">
                                    {% now "Y-m-d" as today %}

                                    {% if  today >= record.mock_accred_date|date:"Y-m-d" and today < record.survey_visit_date|date:"Y-m-d" %}
                                        <span class="badge badge-outline text-green">Ongoing Mock Accreditation</span>
        
                                    {% elif today == record.survey_visit_date|date:"Y-m-d" %}
                                        <span class="badge badge-outline text-green">Ongoing Actual Survey Visit</span>
                                
                                    {% elif today > record.survey_visit_date|date:"Y-m-d" and record.revisit_date == None %}
        
                                        {% if record.is_done == False and today > record.survey_visit_date|date:"Y-m-d" and record.revisit_date == None%}
                                            <span class="badge badge-outline text-blue">Awaiting Result</span>
                        
                                        {% elif record.revisit_date %}
                                            <span class="badge badge-outline text-orange">Survey Revisit</span>
                                        
        
                                        {% elif record.is_done == True and record.validity_date_from and record.validity_date_to and record.revisit_date == None %}
                                            <span class="badge badge-outline text-green">{{ record.instrument_level.level}} Certified </span>
                   
        
                                        {% endif %}   
                        
                                    {% elif today < record.revisit_date|date:"Y-m-d" %}
        
                                        {% if record.is_done == False and today > record.survey_visit_date|date:"Y-m-d" and record.revisit_date == None%}
                                                <span class="badge badge-outline text-blue">Awaiting Result</span>
                        
                                        {% elif record.revisit_date %}
                                            <span class="badge badge-outline text-orange">Subject for Revisit</span>
                                    
                    
                                        {% elif record.is_done == True and record.validity_date_from and record.validity_date_to and record.revisit_date == None %}
                                            <span class="badge badge-outline text-green">{{ record.instrument_level.level}} Certified </span>
                                
                    
                                        {% endif %}    
                        
                        
                                    {% elif record.revisit_date %}
                                        {% if today <= record.revisit_date|date:"Y-m-d" %}
                                            <span class="badge badge-outline text-green">Survery Revisit</span>
        
                                            {% if today  == record.revisit_date|date:"Y-m-d" %}
                                                <span class="badge badge-outline text-blue">{{ record.revisit_date|date:"F j, Y" }}</span>
        
                                            {% else %}
                                                <span class="badge badge-outline text-muted">{{ record.revisit_date|date:"F j, Y" }}</span>
                                            {% endif %}
                                        {% endif %}
        
                                        {% if today <= record.revisit_compliance_deadline|date:"Y-m-d" and  today > record.revisit_date|date:"Y-m-d" %}
                                            <span class="badge badge-outline text-green">Revisit Compliance Deadline</span>
                                            {% if today  == record.revisit_compliance_deadline|date:"Y-m-d" %}
                                                <span class="badge badge-outline text-warning">{{ record.revisit_compliance_deadline|date:"F j, Y" }}</span>
                                            {% else %}
                                                <span class="badge badge-outline text-muted">{{ record.revisit_compliance_deadline|date:"F j, Y" }}</span>
                                            {% endif %}
                                        {% endif %}
                        
                                        {% if today > record.revisit_compliance_deadline|date:"Y-m-d" %} 
                                            {% if today > record.revisit_compliance_deadline|date:"Y-m-d" and record.is_done == False and record.is_failed == False %}
                                                <span class="badge badge-outline text-blue">Awaiting Result</span>
                    
                                            {% elif record.is_done == True and record.is_failed == False and record.validity_date_from and record.validity_date_to %}
                                                    <span class="badge badge-outline text-green">{{ record.instrument_level.level}} Certified</span>
                               
                                            {% elif record.is_done == True and record.is_failed == True %}
                                                    <span class="badge badge-outline text-red"> Failed </span>
                               
                    
                                            {% endif %}    
                                        {% endif %}
        
                                    {% else %}
                                    <span class="badge badge-outline text-blue">Ongoing Document Preparation</span>
        
                                    {% endif %}
                                    
                                </div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">Created by</div>
                                <div class="datagrid-content">
                                    <div class="d-flex align-items-center">

                                        {% if record.created_by.profile_pic %}
                                            <span class="avatar avatar-xs me-2 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                                        
                                        {% else %}
                                            <span class="avatar avatar-xs me-2 rounded">{{ record.created_by.first_name|first|default:'' }} {{ record.created_by.last_name|first|default:'' }}</span>
                    
                                        {% endif %}
                                        {{ record.created_by.first_name}} {{ record.created_by.last_name }}
                


                                    </div>
                                </div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">Created at</div>
                                <div class="datagrid-content">{{record.created_at|date:"F j, Y g:i A"}}</div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">Modified by</div>
                                <div class="datagrid-content">
                                    <div class="d-flex align-items-center">

                                        {% if record.modified_by.profile_pic %}
                                            <span class="avatar avatar-xs me-2 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                                        
                                        {% else %}
                                            <span class="avatar avatar-xs me-2 rounded">{{ record.modified_by.first_name|first|default:'' }} {{ record.modified_by.last_name|first|default:'' }}</span>
                    
                                        {% endif %}
                                        {{ record.modified_by.first_name}} {{ record.modified_by.last_name }}
                
                                    </div>
                                </div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">Last Modified</div>
                                <div class="datagrid-content">{{record.modified_at|date:"F j, Y g:i A"}}</div>
                            </div>

                            <div class="datagrid-item">
                                <div class="datagrid-title">Description</div>
                                <div class="datagrid-content">{{record.description}}</div>
                            </div>

						</div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
