{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal fade" id="edit-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Update program</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


        <form method="POST" autocomplete="off" id="update-program-form-{{ record.id }}" data-record-id="{{ record.id }}">
            {% csrf_token %}
            <div class="mb-3">
            	{{ update_form.program_name|as_crispy_field }}
            </div>

        	<div class="mb-3">
				<div class="row">
        			<div class="col-8">
						{{ update_form.abbreviation|as_crispy_field }}

              		</div>

					  <div class="col-4">
						{{ update_form.color_code|as_crispy_field }}
					  </div>
				</div>
			</div>

            <div class="mb-3">
            	{{ update_form.description|as_crispy_field }}
			</div>



{% comment %} <!-- Modal -->
<div class="modal fade" id="edit-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit {{ record.id }} Program</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <form method="POST" autocomplete="off" id="create-program-form" data-url="{% url 'program-create' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="program-name" class="col-form-label">Program Name:</label>
              <input type="text" class="form-control" id="program-name" value="{{ record.program_name }}">
            </div>

            <div class="mb-3">
              <label for="abbreviation" class="col-form-label">Abbreviation:</label>
              <input type="text" class="form-control" id="abbreviation" value="{{ record.abbreviation }}">
            </div>

            <div class="mb-3">
              <label for="program-description" class="col-form-label">Description:</label>
              <textarea class="form-control" id="program-description" style="height: 150px;">{{ record.description }}</textarea>
            </div>

          </form>

          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button id="save-{{ record.id }}" type="submit" class="btn btn-primary" >Save Changes</button>
  </div>

</form>
  </div>
</div>
</div>
</div>
