{% comment %} These are the scripts for the landing page. {% endcomment %}

{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#submit").click(function(event) {
            var serializedData = $("#create-program-form").serialize();
            const form = document.getElementById('create-program-form')
            event.preventDefault();

            $.ajax({
                url: "{% url 'program-create' %}", 
                data: serializedData,
                type: "POST",
                success: function(response) {
                    // Hide the modal
                    $('#staticBackdrop').modal('hide');

                    // Clear the form
                    form.reset();

                    //Toastr success message
                    toastr.success(response.toastr_message);

                    //Refreshing the list without reloading
                    $('#refresh-div').load(location.href + " #refresh-div");
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 

{% comment %} AJAX FOR UPDATING  {% endcomment %}
{% comment %} <script>
    $(document).ready(function(){
        var recordId = $(this).data('record-id');
        $("#save-"+recordId).click(function(event) {
            event.preventDefault();
            var serializedData = $("#update-program-form-" + recordId).serialize();
            alert(recordId);


            $.ajax({
                url: "/program_update/" + recordId, 
                data: serializedData,
                type: "POST",
                success: function(response) {
                    // Hide the modal
                    $('#edit-modal-'+recordId).modal('hide');

                    // Clear the form
                    $('#update-program-form-'+recordId)[0].reset();

                    //Toastr success message
                    toastr.success(response.toastr_message);

                    //Refreshing the list without reloading
                    $('#refresh-div').load(location.href + " #refresh-div");
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> {% endcomment %}






<script>
    $(document).ready(function() {
        $('.program-card').on('dblclick', function() {
            var card = $(this);
            if (card.hasClass('selected')) {
                card.removeClass('selected');
            } else {
                card.addClass('selected');
            }
        });

    });

    {% comment %} $(document).ready(function() {
        $('.clickable-card').on('click', function() {
            var card = $(this);
    
            if (!card.hasClass('selected')) {
                // Open view modal on a single click
                $('#view-modal-' + record.id).modal('show');
            }
    
            card.toggleClass('selected');
        });
    });
     {% endcomment %}
</script>

<style>
    .program-card.selected {
        background-color: #d4ffd5;
    }

    /* Add this CSS to create the hover effect */
    .program-card {
        transition: transform 0.2s ease-in-out; /* Smooth transition on hover */
    }

    .program-card:hover {
        transform: scale(1.03); /* Increase the size on hover */
    }
</style>