{% load crispy_forms_tags %}


<!-- Modal -->
<div class="modal  modal-blur fade" id="upload-file-modal-{{ upload_bin.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
		<form 
			autocomplete="off" 
			id="upload-file-form-{{ upload_bin.id }}"
			class="modal-content">

			<div class="modal-header">
				<h1 class="modal-title">Upload Evidence/s</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				

				<div = class="row row-cards">

					<div class="col-8">
				
							<div class="divide-y" style="height: 23rem">
								<div>
									<div class="row">
										
										  <h1 class="page-title">
											<span>
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-stack" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none" />
													<path d="M14 3v4a1 1 0 0 0 1 1h4" />
													<path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
													<path d="M5 21h14" />
													<path d="M5 18h14" />
													<path d="M5 15h14" />
												</svg>
											{{ component.component}} EVIDENCES
										</span>
										</h1>
										<div class="text-muted mt-1"> 
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none" />
												<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
												<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
											  </svg>
											{{ component.created_by.first_name }} {{ component.created_by.last_name }} - Last modified ({{ component.modified_at|date:"F j, Y g:i A" }})</div>
									</div>
								</div>

								<div>
									<div class="row">
										<div>
											<div class="datagrid">


												<div class="datagrid-item">
													<div class="datagrid-title">Title</div>
													<div class="datagrid-content">{{ upload_bin.title }}</div>
												</div>

												<div class="datagrid-item">
													<div class="datagrid-title">Status</div>
													<div class="datagrid-content">
					
														{% if upload_bin.status == "ur"  %}
															<span class="status status-blue">
																Under Review
															</span>
					
														{% elif   upload_bin.status == "rfr" %}
															<span class="status status-red">
																Request for Resubmission
															</span>

														{% elif   upload_bin.status == "approve" %}
														<span class="status status-green">
															Approve
														</span>
														{% else %}

														{% endif %}
														
													</div>
												</div>
				
												<div class="datagrid-item">
													<div class="datagrid-title">Accepted File Size</div>
													<div class="datagrid-content">{{ upload_bin.accepted_file_size}} MB</div>
												</div>
				
												<div class="datagrid-item">
													<div class="datagrid-title">Accepted Max File</div>
													<div class="datagrid-content"> {{upload_bin.accepted_file_count}}</div>
												</div>
					
												<div class="datagrid-item">
													<div class="datagrid-title">Accepted File Types</div>
					
														<div class="datagrid-content">
															{% for file_type, display_name in file_type_mapping.items %}
															{% if file_type in upload_bin.accepted_file_type %}
															{% endif %}
																{{ display_name }},
															{% endfor %}
														
														</div>
												</div>
					
												<div class="datagrid-item">
													<div class="datagrid-title">Remarks</div>
													<div class="datagrid-content"> {{ upload_bin.remarks }}</div>
												</div>
					
												{% if not upload_bin.reviewed_by %}
													<div class="datagrid-item">
														<div class="datagrid-title">Reviewed by</div>
														<div class="datagrid-content">
															<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
																<path stroke="none" d="M0 0h24v24H0z" fill="none" />
																<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
																<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
															  </svg>
															{{upload_bin.reviewed_by.first_name}} {{upload_bin.reviewed_by.last_name}}
											
														</div>
													</div>

													<div class="datagrid-item">
														<div class="datagrid-title">Reviewed at</div>
														<div class="datagrid-content">
															<span class="status status-blue">
																{{upload_bin.reviewed_at|date:"F j, Y g:i A"}}
															</span>
														</div>
													</div>
												
												{% endif %}
					
												<div class="datagrid-item">
													<div class="datagrid-title">Description</div>
													<div class="datagrid-content" style="height:5rem">{{upload_bin.description}}</div>
												</div>
					
											</div>
									
										</div>
								
									</div>
								</div>

							</div>
				
					</div>

					<div class="col-4">
						{% comment %} <div class="card"  >
							<div class="card-body" > {% endcomment %}
								<input type="file" name="file_path" id="file-path-{{ component.id}}-{{ upload_bin.id }}" required="" multiple>
								{{ component.id}}-{{ upload_bin.id }}
		
							{% comment %} </div>
						</div> {% endcomment %}
					</div>	
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button type="button" data-id="{{ upload_bin.id }}" class="btn btn-primary upload-button" id="upload-button-{{ component.id}}-{{ upload_bin.id }}">Submit</button>
			</div>

		</form>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var files = []
		var acceptedFileTypes = {{ upload_bin.accepted_file_type|safe }};
		// Now acceptedFileTypes is a JavaScript array

		FilePond.registerPlugin(FilePondPluginFileValidateSize);    //Register plugin to validate file size
		FilePond.registerPlugin(FilePondPluginFileValidateType);    //Register plugin to validate file type
		FilePond.registerPlugin(FilePondPluginImagePreview);
		FilePond.setOptions({
			allowMultiple:true,
			maxFiles:{{ upload_bin.accepted_file_count }},             //It sets the max file counts
			maxFileSize: '{{ upload_bin.accepted_file_size }}MB'      //It sets the accepted max storage size
		})
		const inputElement{{component.id}}{{ upload_bin.id }} = document.querySelector('#file-path-{{ component.id}}-{{ upload_bin.id }}');  //Convert input types that are file types into filepond
		var pond{{component.id}}{{ upload_bin.id }} = FilePond.create( inputElement{{component.id}}{{ upload_bin.id }}, {
			acceptedFileTypes:  acceptedFileTypes, // The lists are the accepted file types
			onaddfile: (err, fileItem) => {
				if (!err) {
				files.push(fileItem.file)
				}
				console.log(files)
			},
			onremovefile: (err, fileItem) => {
				const index = files.indexOf(fileItem.file)
				if (index > -1) {
					files.splice(index, 1)
				}
				console.log(files)
			}
		} );

		var formData = new FormData();
		$(document).on('click', '#upload-button-{{ component.id}}-{{ upload_bin.id }}', function(e) {
			var url = "/accreditation/program-accreditation/area/parameter/evidence-upload/"+{{ upload_bin.id }}+"/";
			formData.append('length', files.length)
			for (var i = 0; i < files.length; i++) {
				formData.append('files' + i, files[i])
			}
			formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

			$.ajax({
				type: 'POST',
				url: url,
				data: formData,
				cache: false,
				processData: false,
				contentType: false,
				enctype: 'multipart/form-data',
				success: function (){
					location.reload();
				},
				error: function(error) {

					toastr.error(error.responseJSON.error);
					
				}
			})
		})
	})
</script>  

