{% extends "base.html" %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Accreditation Type Archive Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search archived programs..."/>
        <a href="{% url 'accreditations:type-landing' %}" type="button" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>

        <button type="button" class="btn btn-success" disabled>Restore</button>
{% endblock page-title-actions %}



{% block content %}
    <!-- Type CARDS -->
    {% include "type_archive_page/type_cards.html" %}
    
    <!-- Scripts -->

    {% include "type_archive_page/scripts.html" %}

{% endblock content %}