{% load crispy_forms_tags %}
{% load static %}

<div class="card mb-3">
    <div class="card-header">
        Profile Picture
    </div>
    {% if user.profile_pic %}
        <div class="card-body text-center">
            <img src="{{ user.profile_pic }}" 
            class="img-fluid img-thumbnail" 
            style=" width: 150px;
                            height: 150px;
                            object-fit: cover; /* Maintain aspect ratio and cover the container */
                            border-radius: 50%; /* Ensure a circular shape */">
        </div>
            

    {% else %}
        <form method="POST" class=" card-body" enctype="multipart/form-data" action={% url "users:profile-upload-pic" %}>
            {% csrf_token %}
                {{ upload_form.profile_pic|as_crispy_field }}
                <button id="submit"type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    {% endif %}




    <div class="text-center">
        <h5 class="font-size-20">{{ user.first_name}} {{ user.last_name}}</h5>
        <h6 class="text-muted font-size-13">Faculty</h6>
    </div>
    <br>
</div>