<div class="card" style="margin-top: 15px;">
    <div class="card-header">
        Recent Activity
    </div>
        <div class="card-body">
                <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Add dynamic rows here -->
                            <tr>
                                <td>Updated Profile</td>
                                <td>Oct 15, 2023</td>
                                <td>Profile</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Edit</td>
                                <td>2023-11-05</td>
                                <td>Profile</td>
                                <td>profile.jpg</td>
                            </tr>
                        </tbody>
                </table>
        </div>
</div>