<!-- Side Navigation -->
<div class="col-auto col-md-2 col-xl-2 px-sm-1 px-0 bg-light">
	<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
		<a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
		<small class="text-dark d-none d-sm-inline">Accreditation & Certification</small>
		</a>

		<!--side navigation content goes here -->
		<ul class="nav flex-column">

			<li class="nav-item">
				<a class="nav-link" href="{% url 'dashboard-landing' %}">
				<i class="fas fa-home"></i>
				<small>Dashboard</small>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'program-landing' %}">
				<i class="fas fa-book"></i>
				<small>Programs</small>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="accreditation.html">
				<i class="fas fa-home"></i>
				<small>Accreditation</small>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'users-landing' %}">
				<i class="fas fa-book"></i>
				<small>User</small>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="task.html">
				<i class="fas fa-home"></i>
				<small>Task</small>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="documents.html">
				<i class="fas fa-book"></i>
				<small>Documents</small>
				</a>
			</li>
		</ul>

	</div>
</div>