{% load static %}
{% include "navigation_bars/styles.html" %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<img src="{% static 'images\PUPLogo.png' %}" alt="" width="50" height="50"> 
		<a class="navbar-brand" href="#"><b>PUP-ACIS</b></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item">
					<a class="nav-link" href="{% url 'dashboards:dashboard-landing' %}">
						Dashboard
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'accreditations:landing' %}">
						Accreditation
					</a>
				</li>

			
				<a class="nav_link dropdown_link" href="#">
					Admin Setup
					<i class="bx bxs-chevron-down dropdown_icon"></i>
				</a>
			
				<!--menu-->
				<div class="megamenu row">
					<div class="col">
					<ul class="content">
						{% comment %} <li class="megamenu_item header_megamenu">Setup Pages</li> {% endcomment %}
						<li class="megamenu_item">
							<div class="menu_icon"><i class="fa-solid fa-school fa-2xl" style="color: #b31e1e;"></i>

							</div>
							<div class="megamenu_link">
								<a href="{% url 'programs:landing' %}"><strong>Programs</strong>
									<p class="text-break description-text"><small>The Programs Page allows you to manage your educational programs. 
															You can create, retrieve, update, delete, and restore programs. </p></small>
								</a>
							</div>
						</li>
						<li class="megamenu_item">
							<div class="menu_icon">
								<i class="fa-solid fa-users-between-lines fa-2xl" style="color: #b31e1e;"></i>
							</div>
							<div class="megamenu_link">
								<a href="{% url 'accreditations:bodies-landing' %}"><strong>Accreditation Bodies</strong>
									<p class="text-break description-text"><small>The Accrediting Body Page allows you to manage accrediting bodies. 
															You can create, retrieve, update, delete, and restore accrediting bodies.</p></small>
								</a>
							</div>
						</li>

						<li class="megamenu_item">
							<div class="menu_icon">
								<i class="fa-solid fa-shapes fa-2xl" style="color: #b31e1e;"></i>
							</div>
							<div class="megamenu_link">
								<a href="{% url 'accreditations:type-landing' %}"><strong>Accreditation type</strong>
									<p class="text-break description-text"><small>The Accreditation Type Page allows you to manage accreditation types. 
														You can create, retrieve, update, delete, and restore accreditation types. </p></small>
								</a>
							</div>
						</li>
					</ul>
				</div>

				<div class="col">
					<ul class="content">
						{% comment %} <li class="megamenu_item header_megamenu">Academic</li> {% endcomment %}
						
						<li class="megamenu_item">
							<div class="menu_icon">
								<i class="fa-solid fa-stairs fa-2xl" style="color: #b31e1e;"></i>
							</div>
							<div class="megamenu_link">
								<a href="{% url 'accreditations:level-landing' %}"><strong>Accreditation Level</strong>
									<p class="text-break description-text"><small>The Accreditation Level Page allows you to manage accreditation levels. 
														You can create, retrieve, update, delete, and restore accreditation levels. </p></small>
								</a>
							</div>
						</li>

						<li class="megamenu_item">
							<div class="menu_icon instrument-icon">
								<i class="fa-solid fa-clipboard-list fa-2xl" style="color: #b31e1e;"></i>
							</div>
							<div class="megamenu_link">
								<a href="{% url 'accreditations:instrument-landing' %}"><strong>Accreditation Instrument</strong>
									<p class="text-break description-text"><small>The Accreditation Level Page allows you to manage accreditation instruments. 
														You can create, retrieve, update, delete, and restore accreditation instruments. </p></small>
								</a>
							</div>
						</li>

						<li class="megamenu_item">
							<div class="menu_icon">
								<i class="fa-solid fa-users-gear fa-2xl" style="color: #b31e1e;"></i>
							</div>
							<div class="megamenu_link">
								<a href="{% url 'users:landing' %}"><strong>User</strong>
									<p class="text-break description-text"><small>The User Page allows you to manage your users. You can create, retrieve, update, deactivate, and reactivate user accounts. 
														You can also view a list of all users, search for specific users, and filter users by various criteria.</p></small>
								</a>
							</div>
						</li>
					</ul>
				</div>
			
			</ul>

			<a type="button" class="btn btn-custom" style="color: red;">
				<i class="fas fa-envelope"></i>
				<span class="notification-dot"></span>
			</a>

			<a type="button" class="btn btn-custom" style="color: red;">
				<i class="fas fa-bell fa-fw mr-2"></i>
				<span class="notification-dot"></span>
			</a>
			<div class="dropdown">
				<ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
							<img src={% static 'images\user.jpg' %} alt="User Profile" width="35" height="35" class="rounded-circle"
							style="margin-left: 10px;">
						</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="{% url 'users:profile' %}" class="dropdown-item"><i class="fa-solid fa-user-gear"></i> My Profile</a>
                            <a href="#" class="dropdown-item"><i class="fas fa-cog fa-fw"></i> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                        </div>
                    </li>
                </ul>

			</div>

		</div>
	</div>
</nav>
