{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<img src="{% static 'images\PUPLogo.png' %}" alt="" width="50" height="50"> 
		<a class="navbar-brand" href="#"><b>PUP-ACIS</b></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item">
					<a class="nav-link" href="{% url 'dashboards:dashboard-landing' %}">
						Dashboard
					</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Admin
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

						<li><a class="dropdown-item" href="{% url 'users:landing' %}">
								User
							</a>
						</li>

						<li class="nav-item"><a class="dropdown-item" href="{% url 'accreditations:landing' %}">
								<small>Accreditation</small>
							</a>
						</li>

						<li><a class="dropdown-item" href="task.html">
								<small>Task</small>
							</a>
						</li>
						
						<li><a class="dropdown-item" href="documents.html">
								<small>Documents</small>
							</a>
						</li>

					</ul>
				</li>


				<li class="nav-item dropdown"><a class="nav-link" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Admin Setup
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

						<li><a class="dropdown-item" href="{% url 'accreditations:type-landing' %}">
								<small>Accreditation Types</small>
							</a>
						</li>

						<li><a class="dropdown-item" href="{% url 'accreditations:level-landing' %}">
								<small>Accreditation Levels</small>
							</a>
						</li>

						<li><a class="dropdown-item" href="{% url 'accreditations:bodies-landing' %}">
							<small>Accreditation Bodies</small>
							</a>
						</li>
						
						<li><a class="dropdown-item" href="{% url 'programs:landing' %}">
								<small>Programs</small>
							</a>
						</li>

					</ul>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">
						Logout
					</a>
				</li>

			</ul>

			<a type="button" class="btn btn-custom" style="color: red;">
				<i class="fas fa-envelope"></i>
				<span class="notification-dot"></span>
			</a>

			<a type="button" class="btn btn-custom" style="color: red;">
				<i class="fas fa-bell fa-fw mr-2"></i>
				<span class="notification-dot"></span>
			</a>
			<div class="dropdown">
				<a href="#" class="d-flex align-items-center text-light text-decoration-none me-1 dropdown-toggle"
					id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<span class="d-inline-block text-truncate" style="max-width: 150px; color: black;">
						Candelaria Francis J.
					</span>
					<img src={% static 'images\user.jpg' %} alt="User Profile" width="30" height="30" class="rounded-circle"
						style="margin-left: 10px;">
				</a>
			</div>

		</div>
	</div>
</nav>
