
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Accreditation Status of {{accred_program.program.abbreviation}}</h3>
  </div>
  <div class="card-body">
    <ul class="steps steps-green steps-counter my-4">


      {% now "F j, Y" as today %}
      {% if today < accred_program.mock_accred_date|date:"F j, Y" %}
        <li class="step-item active">
      {% else %}
        <li class="step-item">
      {% endif %}
        <ul>
          <li>Document Preparation</li>
          {% if accred_program.instrument_level.progress_percentage == 100.00 %}
            <li class="text-green">{{ accred_program.instrument_level.progress_percentage}}% DONE</li>
          {% else %}
            <li class="text-blue">{{ accred_program.instrument_level.progress_percentage}}% DONE</li>
          {% endif %}

        </ul>
      </li>

      {% if  today >= accred_program.mock_accred_date|date:"F j, Y" and today < accred_program.survey_visit_date|date:"F j, Y" %}
        <li class="step-item active">
      {% else %}
        <li class="step-item">
      {% endif %}
        <ul>
          <li>Mock Accreditation</li>
          <li>{{ accred_program.mock_accred_date|date:"F j, Y" }}</li>
        </ul>
      </li>
 
      {% if today >= accred_program.survey_visit_date|date:"F j, Y" %}
        <li class="step-item active">
      {% else %}
        <li class="step-item">
      {% endif %}
        <ul>
          <li>Actual Survey Visit</li>
          <li>{{ accred_program.survey_visit_date|date:"F j, Y" }}</li>
        </ul>

      </li>
      <li class="step-item">Result</li>
    </ul>
  </div>
</div>