{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Areas Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search levels..."/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
        <a href="{% url "accreditations:instrument-level-area-archive-page" pk=pk%}" class="btn btn-success" type="button">
            Archive <i class="fa-solid fa-arrow-right"></i>
        </a> 
{% endblock page-title-actions %}

{% block content %}

    {% include "accreditation-page/instrument-area/main-page/area-cards.html" %}

    {% include "accreditation-page/instrument-area/main-page/create-modal.html" %}

    {% include "accreditation-page/instrument-area/main-page/scripts.html" %}

    {% include "accreditation-page/instrument-area/main-page/styles.html" %}
   
{% endblock content %}



