{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Program Accreditation Instrument Areas
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search areas..."/>

        {% if perms.Accreditation.add_instrument_level_area %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
        {% endif %}

        {% if perms.Accreditation.delete_instrument_level_area %}
            <a href="{% url "accreditations:program-accreditation-area-archive-page" pk=pk accred_pk=accred_program.id %}" class="btn btn-success" type="button">
                Archive <i class="fa-solid fa-arrow-right"></i>
            </a> 
        {% endif %}

{% endblock page-title-actions %}

{% block content %}


{% if perms.Accreditation.view_instrument_level_area %}
    <div class="row g-4 row-cards">
        <div class="col-2">
                <div class="subheader mb-2">Navigations</div>
                <div class="list-group list-group-transparent mb-2">
                    <a class="list-group-item d-flex align-items-center" href="{% url "apis:exhibit-page" program_accred_pk=accred_program.id%}">
                        EXHIBITS
                    </a>

                    <a class="list-group-item d-flex align-items-center" href="#">
                        CERTIFICATE
                    </a>
                </div>
        </div>
        <div class="row row-cards">
            {% include "accreditation-page/instrument-area/main-page/analytics-cards.html" %}
            {% include "accreditation-page/instrument-area/main-page/area-cards.html" %}
        </div>
    </div>
{% endif %}


   
{% endblock content %}

{% block modal_content %}
    {% if perms.Accreditation.add_instrument_level_area %}
        {% include "accreditation-page/instrument-area/main-page/create-modal.html" %}
    {% endif %}

    {% include "accreditation-page/instrument-area/main-page/result-modal.html" %}
    {% include "accreditation-page/instrument-area/main-page/result-passed-modal.html" %}
    {% include "accreditation-page/instrument-area/main-page/result-revisit-modal.html" %}
    {% include "accreditation-page/instrument-area/main-page/result-failed-modal.html" %}
{% endblock modal_content %}


{% block js_content %}
    {% if perms.Accreditation.add_instrument_level_area or perms.Accreditation.change_instrument_level_area or  perms.Accreditation.delete_instrument_level_area %}
        {% include "accreditation-page/instrument-area/main-page/scripts.html" %}
    {% endif %}
{% endblock js_content %}

{% block css_content %}
    {% include "accreditation-page/instrument-area/main-page/styles.html" %}
{% endblock css_content %}









