{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Instrument Parameters
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
    {% if has_access or user.is_superuser %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search levels..."/>

        {% if perms.Accreditation.add_level_area_parameter %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
        {% endif %}

        {% if perms.Accreditation.delete_level_area_parameter %}
            <a href="{% url "accreditations:program-accreditation-parameter-archive-page" pk=pk%}" class="btn btn-success" type="button">
                Archive <i class="fa-solid fa-arrow-right"></i>
            </a> 
        {% endif %}

    {% endif %}
{% endblock page-title-actions %}

{% block content %}
        {% if is_chairman or has_access or user.is_superuser %}
            {% include "accreditation-page/instrument-parameter/main-page/parameter-cards.html" %}

            {% if perms.Accreditation.add_level_area_parameter %}
                {% include "accreditation-page/instrument-parameter/main-page/create-modal.html" %}
            {% endif %}
        
            {% if perms.Accreditation.delete_level_area_parameter or perms.Accreditation.add_level_area_parameter  or perms.Accreditation.change_level_area_parameter %}
                {% include "accreditation-page/instrument-parameter/main-page/scripts.html" %}
            {% endif %}
        
            {% include "accreditation-page/instrument-parameter/main-page/styles.html" %}
       
        {% else %}
            <div class="empty">
                <div class="empty-header">403</div>
                <p class="empty-title">Oops… You don't have access to this page</p>
                <p class="empty-subtitle text-muted">
                    It seems you are not assigned to this area. Please contact your administrator for assistance.
                </p>
                <div class="empty-action">
                <a href="./." class="btn btn-primary">
                    <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                    Go back
                </a>
                </div>
            </div>
        {% endif %}


{% endblock content %}



