{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Archived Instrument Level
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search instrument's level..."/>
        <a href="{% url 'accreditations:instrument-level' pk=pk %}" type="button" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>

{% endblock page-title-actions %}

{% block content %}

    {% include "accreditation-instrument-level/archive-page/instrument-level-cards.html" %}

    {% include "accreditation-instrument-level/archive-page/scripts.html" %}
   
{% endblock content %}



