<!-- Modal -->

  <div class="collapse" id="register-user">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title fs-5" id="staticBackdropLabel">Create new program</h1>
        </div>
        <div class="card-body">

          <form class="needs-validation">
            <div class="mb-3">
              <label for="validationCustom01" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="validationCustom01" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="middle-name" class="col-form-label">Middle Name</label>
              <input type="text" class="form-control" id="middle-name"  required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last-name" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="email-address" class="col-form-label">Email Address:</label>
              <input type="email" class="form-control" id="email-address" placeholder="name@example.com"  required>
            </div>

            <div class="mb-3">
              <label for="inputPassword5" class="form-label">Password:</label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"  required>
              <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              </div>
            </div>

            <div class="mb-3">
              <label for="confirm-password" class="col-form-label">Confirm Password:</label>
              <input type="password" id="confirm-password" class="form-control" aria-describedby="passwordHelpBlock"  required>
              <div id="passwordHelpBlock" class="form-text">
                Your password must be same as the above password you've entered.
              </div>
            </div>
        </div>
        <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#register-user" aria-expanded="false" aria-controls="register-user">Close</button>
              <button type="submit" class="btn btn-primary">Register User</button>
        </div>
      </form>
      </div>
    </div>
  </div>