{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal modal-blur fade" id="edit-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Easy Edit Account</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form method="POST" class="needs-validation" novalidate
			autocomplete="off" id="update-user-form-{{ record.id }}">
			{% csrf_token %}

			<div class="row">
				
				<div class=" col">
					{{ update_form.first_name|as_crispy_field }}
				</div>


				<div class=" col">
					{{ update_form.middle_name|as_crispy_field }}
				</div>

				<div class=" col">
					{{ update_form.last_name|as_crispy_field }}
				</div>

			</div>

			<div class="row">
				<div class=" col">
					{{ update_form.email|as_crispy_field }}
				</div>

				<div class="col">
					<label class="form-label required">Select a User Role</label>
					<select type="text" name="select_role" id="id_select_role" class="form-select form-control" id="select-groups" value="">
						{% if auth_groups %}
							{% for group in auth_groups %}
								{% if update_form.id == group.id%}
									<option value="{{ group.auth_group.id }}" selected>{{ group.auth_group.name}}</option>
								{% endif %}
								<option value="{{ group.auth_group.id }}">{{ group.auth_group.name}}</option>
							{% endfor %} 
						
						{% else %}
							<option value="" selected disable>No Groups</option>

						{% endif %}

					</select>
					</div>
				</div>

				Forgot Password Button Here

		</div>
				<div class="modal-footer">
					<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
					<button type="button" id="save-button-{{ record.id }}" class="btn btn-primary save-changes-button" data-id={{ record.id }}>Save Changes</button>
				</div>

		  	</form>
	  </div>
	</div>
  </div>