{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal fade" id="edit-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit {{ record.email }} Account</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">

			<form method="POST" class="needs-validation" novalidate
			autocomplete="off" id="update-user-form-{{ record.id }}">
			{% csrf_token %}
  
				<div class="mb-3">
					{{ update_form.first_name|as_crispy_field }}
				</div>
	
				<div class="mb-3">
					{{ update_form.middle_name|as_crispy_field }}
				</div>
	
				<div class="mb-3">
					{{ update_form.last_name|as_crispy_field }}
				</div>
	
				<div class="mb-3">
					{{ update_form.email|as_crispy_field }}
				</div>

				Forgot Password Button Here
  
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" id="save-button-{{ record.id }}" class="btn btn-primary save-changes-button" data-id={{ record.id }}>Save Changes</button>
			</div>
  
		  </form>

		  
		</div>
	  </div>
	</div>
  </div>