{% extends 'base.html' %} 


<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    User Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search program…"/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Register</button>
        <a href=" {% url "users:archive-landing" %} " class="btn btn-success" type="button">Archive <i class="fa-solid fa-arrow-right"></i></a> 
{% endblock page-title-actions %}


{% block content %}
    <!-- USER CARDS -->
    {% include "users/user_cards.html" %} 

    <!-- STYLES -->
    {% include "users/styles.html" %} 

    <!-- REGISTER MODAL -->
    {% include "users/register_modal.html" %} 

    <!-- SCRIPTS -->
    {% include "users/scripts.html" %}

{% endblock content %}

