{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal register-modal modal-blur fade" id="register-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
 
		<form method="POST" class="modal-content" autocomplete="off" id="register-user-form">
			{% csrf_token %}
        	<div class="modal-header">
          		<h1 class="modal-title fs-5" id="staticBackdropLabel">Register New User</h1>
          		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        	</div>
        	<div class="modal-body">
				<div class="row">
					<div class=" col">
						<label class="form-label required">{{ register_form.first_name.label }}</label>
						{{ register_form.first_name }}
					</div>

					<div class=" col">
						{{ register_form.middle_name|as_crispy_field }}
					</div>

					<div class=" col">
						<label class="form-label required">{{ register_form.last_name.label }}</label>
						{{ register_form.last_name}}
					</div>
	
				</div>

				<div class="row">
					<div class=" col">
						{{ register_form.email|as_crispy_field }}
					</div>

					<div class="col">
						<label class="form-label required">Select a User Role</label>
						<select type="text" name="selected_group" id="id_select_group" class="form-select form-control" id="select-groups">
							<option value="" selected disabled>Please select a role</option>
							<option value="admin">System Admin</option>
							{% if auth_groups %}
								{% for group in auth_groups %}
									<option value="{{ group.auth_group.id }}">{{ group.auth_group.name}}</option>
								{% endfor %} 
							
							{% else %}
								<option value="" selected disabled>No Groups</option>

							{% endif %}

						</select>
						</div>


				</div>

				{% comment %} <div class="row">
					<div class="col">
						{{ register_form.password1|as_crispy_field }}
					</div>

					<div class="col">
						{{ register_form.password2|as_crispy_field }}
					</div>
				</div> {% endcomment %}
				<li><!-- Download SVG icon from http://tabler-icons.io/i/info-circle -->
					<svg xmlns="http://www.w3.org/2000/svg" class="icon text-blue" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path d="M12 9h.01"></path><path d="M11 12h1v4h1"></path></svg>
					The system will automatically generate a password and sends it to the user's email.
				</li>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button id="register-user" type="submit" class="btn btn-primary submit">Create User</button>
			</div>
		</form>
  	</div>
</div>

  