{% load static %}
<div class="row row-cards">
    {% for record, update_form, created_by, modified_by, password_form in details  %}
        <div class="col-md-6 col-lg-3">
            <div class="card card-link-pop">
                <div class="card-status-top bg-green"></div>
                <div class="card-body p-4 text-center">
                    {% if record.profile_pic %}
                        <span class="avatar avatar-xl mb-3 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                    
                    {% else %}
                        <span class="avatar avatar-xl mb-3 rounded">{{ record.first_name|first|default:'' }} {{ record.last_name|first|default:'' }}</span>
                    {% endif %}

                    <h3 class="m-0 mb-1"><a href="#">{{ record.first_name }} {{ record.last_name }} </a></h3>
                    <div class="text-muted">{{ record.email }}</div>
                    <div class="mt-3">
                        <span class="badge bg-green-lt">Admin</span>
                    </div>
                </div>
                <div class="d-flex">
                    <a href="#" class="card-btn" data-bs-toggle="modal" data-bs-target="#view-modal-{{ record.id }}">
                        View
                    </a>
                    <a href="#" class="card-btn edit-button" data-bs-toggle="modal" data-bs-target="#edit-modal-{{ record.id }}" >
                        Edit
                    </a>
                    <a href="#" class="card-btn text-danger deactivate-button" data-id={{ record.id }}>
                        Deactivate
                    </a>
                </div>
            </div>
        </div>

        {% include "users/edit_modal.html" %} 
        {% include "users/view_modal.html" %} 
    {% endfor %}
</div>




