<!-- Modal -->
<div class="modal fade" id="view-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewModalLabel">View Account</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Label and data from database -->
				<div class="row">
					<div class="col-4 offset-1"><b>Created by</b></div>
					<div class="col-6">Francis C. Candelaria</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Created at</b></div>
					<div class="col-6">December 23, 2023</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Modified by</b></div>
					<div class="col-6">Jonel Malinao</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Last Modified</b></div>
					<div class="col-6">December 29, 2023</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Program Name</b></div>
					<div class="col-6">{{ record.program_name }}</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Abbreviation</b></div>
					<div class="col-6">{{ record.abbreviation }}</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Description</b></div>
					<div class="col-6">{{ record.description }}</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>