{% load custom_tags %}
<!-- Modal -->
<div class="modal modal-blur fade" id="view-modal-{{ file.id }}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content"> 
			<div class="modal-header">
				<h5 class="modal-title">File Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row row-cards">

					<div class="card">
						<div class="card-status-top bg-cyan"></div>
						<div class="card-body">
							<h3 class="card-title">Details</h3>
						
							<div class="datagrid">

								<div class="datagrid-item">
									<div class="datagrid-title">File Name</div>
									<div class="datagrid-content">{{ file.file_name }}</div>
								</div>

								<div class="datagrid-item">
									<div class="datagrid-title">Type</div>
									<div class="datagrid-content">
										{% if file.file_name|slice:"-4:" == '.pdf' %}
											<span class="badge">PDF</span>

										{% elif file.file_name|slice:"-4:" == '.doc' or file.file_name|slice:"-4:" == 'docx'%}
											<span class="badge">Google Docs or Microsoft Word</span>

										{% elif file.file_name|slice:"-4:" == '.xls' or file.file_name|slice:"-4:" == 'xlsx'%}
											<span class="badge">Google sheet or Microsoft Excel</span>

										{% elif file.file_name|slice:"-4:" == '.jpg' or file.file_name|slice:"-4:" == 'jpeg' or file.file_name|slice:"-4:" == '.png' %}
									
											<span class="badge">Image</span>

										{% elif file.file_name|slice:"-4:" == '.mp4' or file.file_name|slice:"-4:" == 'webm' %}
											<span class="badge">Video</span>
								
										{% endif %}
									</div>
								</div>

								<div class="datagrid-item">
									<div class="datagrid-title">Size</div>
									<div class="datagrid-content">{{ file.file_path.size|sizify }} </div>
								</div>

								
								<div class="datagrid-item">
									<div class="datagrid-title">Uploaded by</div>
									<div class="datagrid-content">{{file.uploaded_by.first_name}} {{file.uploaded_by.last_name}}</div>
								</div>

								
								<div class="datagrid-item">
									<div class="datagrid-title">Uploaded at</div>
									<div class="datagrid-content">{{file.uploaded_at|date:"F j, Y"}}</div>
								</div>

								<div class="datagrid-item">
									<div class="datagrid-title">Modified by</div>
									<div class="datagrid-content">{{file.modified_by.first_name}} {{file.modified_by.last_name}}</div>
								</div>

								<div class="datagrid-item">
									<div class="datagrid-title">Last Modified</div>
									<div class="datagrid-content">{{file.modified_at|date:"F j, Y"}}</div>
								</div>

							</div>

						</div>
					</div>


					{% if file.can_be_reviewed %}
						<div class="card">
							<div class="card-status-top bg-cyan"></div>
							<div class="card-body">
								<h3 class="card-title">Approval Status</h3>

							{% if file.reviewed_by %}
								<div class="row p-2">
									<div class="col-4 "><b>Reviewed by</b></div>
									<div class="col-6 text-break "> {{ file.reviewed_by.first_name }}  {{ file.reviewed_by.last_name }}
									</div>
								</div>

								<div class="row  p-2">
									<div class="col-4"><b>Review date</b></div>
									<div class="col-6 text-break "> {{ file.reviewed_at }}
									</div>
								</div>
							
							{% endif %}


								<div class="row p-2">
									<div class="col-4"><b>Status</b></div>
									<div class="col-6 text-break ">
										{% if file.status == 'approve'%}
											<span class="badge badge-outline text-green">Approved</span>
										{% elif file.status == 'rfr' %}
											<span class="badge badge-outline text-red">Request for Resubmission</span>

										{% elif file.status == 'fr' %}
											<span class="badge badge-outline text-cyan">For Review</span>
										{% endif %}

									</div>
								</div>

								<div class="row  p-2">
									<div class="col-4"><b>Remarks</b></div>
									<div class="col-6 text-break "> 
										{% if file.remarks %}
											<a href="#"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#view-file-remarks-modal-{{file.id}}">Click to view Remarks</a>
										{% else %}
											<p class="text-muted">No remarks</p>
										{% endif %}
									</div>
								</div>

							</div>
						</div>
					{% endif %}
					

				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>
