{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title> ACIS - {{ title }}</title>
    {% else %}
        <title> ACIS</title>
    {% endif %}

    <!-- CSS DEPENDENCIES-->
    {% include "dependencies/CSS_dependencies.html" %} 

  </head>
	<body id="page-top">
		<!-- TOP NAVIGATION BAR -->
		{% include "navigation_bars/top_nav.html" %}

		<div class="container-fluid">
			<div class="row flex-nowrap">
				<!--LEFT NAVIGATION BAR -->
				{% include "navigation_bars/left_nav.html" %}

				<!--MAIN CONTENTS -->
				<div class="col-md-9 col-xl-10">
					<!-- Begin Page Content -->
					<div class="container-fluid" id="refresh-div">
						{% block content %} {% endblock %}
					<div>

					<!-- FOOTER -->
					{% include "footer.html" %}
					
				</div>
			
			</div>
		</div>


		<!-- JS DEPENDENCIES-->
		{% include "dependencies/JS_dependencies.html" %}
	</body>
</html>


