{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title> ACIS - {{ title }}</title>
    {% else %}
        <title> ACIS</title>
    {% endif %}

    <!-- CSS DEPENDENCIES-->
    {% include "dependencies/CSS_dependencies.html" %} 

  </head>
	<body>
		{% for message in messages %}
			{% if message.tags == 'success' %}
				{% comment %} Input the message here {% endcomment %}
			
				<script>
					toastr["success"]("I do not think that means what you think it means.")
				</script>	
			{% endif %}
		
		{% endfor %}
		<div class="wrapper">
			<!-- NAVIGATION BARS -->
			{% include "navigation_bars/top_nav.html" %}
			<!-- CONTENTS -->
			<div class = "container">
				{% block content %} {% endblock %}
			<div>
		<div>
			
		<!-- JS DEPENDENCIES-->
		{% include "dependencies/JS_dependencies.html" %} 
	</body>
</html>


