{% load static %}

<div><!-- footer -->
  <footer class="text-center text-lg-start text-white" style="margin-top: auto; background: url('{% static 'custom-assets/landing-page/images/foota-1.png' %}') no-repeat; background-size: cover;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px;">
              <img src= {% static 'images\ROPLogo.png' %} alt=""
                   loading="lazy" />
            </div>
  
            <p class="text-center text-dark">Republic of the Philippines</p>
            <p class="text-center text-dark">All content is in the public domain unless otherwise stated.</p>
  
            <ul class="list-unstyled d-flex flex-row justify-content-center">
              <li>
                <a class="text-white px-2" href="#!">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a class="text-white px-2" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="text-white ps-2" href="#!">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase mb-4 text-dark h6">About GOVPH</p>
            <p class="text-dark">Learn more about the Philippine government, its structure, how government works and the people behind it.</p>

            <ul class="list-unstyled">
                <li class="mb-2">
                  <a href="#!" class="text-dark">Official Gazette</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-dark">Open Data Portal</a>
                  </li>
              </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase mb-4 text-dark h6">Government Links</p>
  
            <ul class="list-unstyled">
                <li class="mb-2">
                    <a href="#!" class="text-dark">Official Gazette</a>
                  </li>
                  <li class="mb-2">
                      <a href="#!" class="text-dark">Open Data Portal</a>
                    </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h6 class="text-uppercase mb-4 text-dark">Government Linkst</h6    >
  
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-dark">Office of the President</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="text-dark">Office of the Vice President</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">Senate of the Philippines</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="text-dark">House of Representatives</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">Supreme Court</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="text-dark">Court of Appeals</a>
                    </li>
                    <li class="mb-2">
                          <a href="#!" class="text-dark">Sandiganbayan</a>
                    </li>
                </ul>
          </div>
          <!--Grid column-->
          
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 1998-2021 POLYTECHNIC UNIVERSITY OF THE PHILIPPINES
      </div>
      <!-- Copyright -->
    </footer>
</div> <!-- End pf footer -->