{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Create Parameters for the Area
{% endblock page-title %}

{% block content %}

	<div class="row row-cards">

		
	<!-- Navigations -->
		{% comment %} <div class="col-3">
			<form class="card">

				<div class="card-header">
					<h4 class = "card-title">
						Navigations
					</h4> 
				</div>
				<div class="card-body"> </div>
			</form>

			
		</div> {% endcomment %}

		<div class="col-9" style="margin: auto;">
			<div class="card">
				<div class="card-header">
					<h4 class = "card-title">
						Parameter Form
					</h4> 
				</div>

				<!-- Card Body-->
				<div class="card-body"> 
					

					<form method="post" id="parameter-form" action="{% url 'accreditations:instrument-level-area-parameter-create' pk=pk %}">
						{% csrf_token %}
						{{ formset.management_form }}

						<div id="form-container">
							{% for form in formset %}
								<div class="area-parameter-form">
									{{ form.parameter|as_crispy_field }}
									{{ form.label|as_crispy_field }}
								</div>
							{% endfor %}
						</div>
						<button type="button" id="add-form" class="btn btn-success">Add Form</button>

				</div>
					<!-- Card Footer-->
					<div class="card-footer"> 
						<a href="{% url "accreditations:instrument-level-area-parameter" pk=pk %}" type="button" class="btn me-auto"><i class="fa-solid fa-arrow-left"></i> Back</a>
						<button id="submit" type="button" data-id={{ pk }} class="btn btn-primary">Save</button>
					</div>
				</form>

			</div>

			
		</div>
	</div> 



<script>
	$(document).ready(function () {
		let formContainer = $("#form-container");
		let addFormButton = $("#add-form");
	
		// Add Form
		addFormButton.on("click", function () {
			let totalForms = parseInt($('#id_form-TOTAL_FORMS').val());
			let newForm = formContainer.children(":first").clone(true);
	
			// Clear values in the new form
			newForm.find('input, select, textarea').val('');
	
			// Update form index in the clone to make it unique
			newForm.html(newForm.html().replace(/form-\d/g, `form-${totalForms}`));
	
			// Add remove button to the new form
			let removeButton = $("<button>").attr({
				"type": "button",
				"class": "remove-form btn btn-danger",
			}).text("Remove");
			removeButton.css("margin-bottom", "25px"); // Edit the margin size

			removeButton.on("click", function () {
				newForm.remove();
			});
			newForm.prepend(removeButton);
	
			formContainer.append(newForm);
			$('#id_form-TOTAL_FORMS').val(totalForms + 1);
		});
	
		// Remove Form
		formContainer.on("click", ".remove-form", function () {
			$(this).closest(".area-parameter-form").remove();
			let totalForms = parseInt($('#id_form-TOTAL_FORMS').val());
			$('#id_form-TOTAL_FORMS').val(totalForms - 1);
		});
	});
</script> 

{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#submit").click(function(event) {
            var serializedData = $("#parameter-form").serialize();
            const form = document.getElementById("parameter-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/area/parameter/create/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                type: "POST",
                success: function(response) {
					// Check if the server response contains a 'redirect_url' field
					if (response.redirect_url) {
						// Redirect to the specified URL
						window.location.href = response.redirect_url;
					}
				},
                error: function(error) {

					if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                       // Check for the formset_errors field in the JSON response
                	else if (error.responseJSON && error.responseJSON.errors) {
                    // Iterate over the formset_errors field and display the validation errors to the user
                    error.responseJSON.errors.forEach(function(formError) {
                        for (var field in formError) {
                            toastr.error(`${formError[field]}`);
                        }
                    });
                } else {
                    toastr.error('Something went wrong. Please try again later.');
                }
                }

            });
        });
    });
</script> 

{% comment %} AJAX FOR UPDATING  {% endcomment %}
<script>
    $(document).ready(function(){
        $(".save-changes").click(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#update-instrument-level-form-"+id).serialize();
            var url = "/accreditation/instrument/level/update/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 

{% endblock content %}


