{% extends "base.html" %}
<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
<h2 class="page-title">
     {{ area_detail.area}} Parameters
</h2>
<div class="text-muted mt-1">  {{ area_detail.area.label}}</div>
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search levels..."/>
        <a href="{% url "accreditations:instrument-level-area-parameter-create" pk=pk%}" type="button" class="btn btn-primary">Create</a>
        <a href="{% url "accreditations:instrument-level-area-parameter-archive-page" pk=pk%}" class="btn btn-success">
            Archive  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
        </a> 
{% endblock page-title-actions %}

{% block content %}


    {% include "accreditation-level-area-parameter/main-page/parameter-cards.html" %}


    {% include "accreditation-level-area-parameter/main-page/scripts.html" %}

    {% include "accreditation-level-area-parameter/main-page/styles.html" %}
{% endblock content %}



