{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal modal-blur fade" id="create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Create new program</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form method="POST" autocomplete="off" id="create-program-form">
				{% csrf_token %}
				<div class="mb-3">
					{{ create_form.program_name|as_crispy_field }}
				</div>

				<div class="mb-3">
					{{ create_form.abbreviation|as_crispy_field }}
				</div>

				<div class="mb-3">
					{{ create_form.description|as_crispy_field }}
				</div>
		</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Create Program</button>
			</div>
		</form>
	  </div>
	</div>
  </div>
  