{% extends "base.html" %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Program Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search program…"/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Create</button>
        <a href="{% url 'programs:archive-landing' %}" type="button" class="btn btn-success">
            Archive <i class="fa-solid fa-arrow-right"></i>
        </a>
{% endblock page-title-actions %}
     

<!-- THE CONTENTS -->
{% block content %}
    <!-- PROGRAM CARDS -->
    {% include "program_page/program_cards.html" %}
    
    <!-- MODALS-->
    {% include "program_page/create_modal.html" %}
{% endblock content %}