<!-- Modal -->
<div class="modal fade" id="view-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  {% comment %} <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">View {{ record.abbreviation }} Program</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
            <label for="program-name" class="col-form-label">Program Name:</label>
            <p class="form-control" id="program-name">{{ record.program_name }}</p>
          </div>

          <div class="mb-3">
            <label for="abbreviation" class="col-form-label">Abbreviation:</label>
            <p class="form-control" id="abbreviation">{{ record.abbreviation }}</p>
          </div>

          <div class="mb-3">
            <label for="program-description" class="col-form-label">Description:</label>
            <p class="form-control" id="program-description">{{ record.description }}</p>
          </div>

        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}

	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewModalLabel">View Modal</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Label and data from database -->
			
				<div class="row">
					<div class="col-4 offset-1"><b>Created by</b></div>
					<div class="col-6">{{ created_by.first_name }} {{ created_by.last_name }} </div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Created at</b></div>
					<div class="col-6"> {{record.created_at}} </div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Modified by</b></div>
					<div class="col-6"> {{modified_by.first_name}} {{modified_by.last_name}}</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Last Modified</b></div>
					<div class="col-6">{{record.modified_at}}</div>
				</div>
				
				<div class="row">
					<div class="col-4 offset-1"><b>Program Name</b></div>
					<div class="col-6">{{ record.program_name }}</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Abbreviation</b></div>
					<div class="col-6">{{ record.abbreviation }}</div>
				</div>
				<div class="row">
					<div class="col-4 offset-1"><b>Description</b></div>
					<div class="col-6">{{ record.description }}</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
