<!DOCTYPE html>
<html>
<head>
<style>
body { 
font-family: Arial, sans-serif;
text-align: center;
}
.icon-approved {
font-size: 50px; 
color: green; 
}
</style>
</head>
<body>

    <h2>Folder Requires Resubmission</h2>

    <p>
        <strong>Program:</strong> {{folder.instrument_level.instrument.program}} <br/>
        <strong>Instrument:</strong> {{folder.instrument_level }}
    </p>

    <p>Dear {{ user.assigned_user.first_name }} {{ user.assigned_user.last_name }},</p>
    <p>After review, the folder '{{ folder.name }}' requires changes.</p>


    <P>Please address the following:</p>
    {% if remarks %}
        <p>{{ remarks|safe }}</p>

    {% else %}
        No remarks.
    {% endif %} 

    <p>Thank you,<br/>
    PUPQC-ACMIS</p> 
</body>
</html>


