Dear {{ first_name }} {{ last_name }},

Welcome to the Accreditation and Certification Management Information System (ACMIS)!

We are excited to have you as a new member of our platform. Below are the credentials you'll need to access your account:

Email: {{email}}
Password: {{password}}

Please note that the password provided above is temporary and for security reasons, we recommend that you change it after logging in for the first time.

To access ACMIS, please visit our website at https://acmis.onrender.com and use the following credentials to log in:

Email: {{email}}
Password: {{password}}

Thank you for joining us, and we look forward to helping you with your accreditation and certification needs!

Best regards,
[PUP-QC's ACMIS]