
Dear ACMIS user, your account credentials have been updated by the admin. Please find your new profile and login details below:

Profile Details: 
    Name: {{ first_name }}
    Middle name: {{ middle_name }}
    Last name: {{ last_name }}
    User Role: {{ role }}

Login Details:
    Email: {{ email }}
    {% if password %}
    Password: {{ password }}
    {% endif %}

We recommend that you log in to your account and change your password immediately after logging in for security reasons. You can log in using the following link:

https://acmis.onrender.com/

If you have any questions or concerns, please feel free to contact our support team.

Best regards, Accreditation and Certification Information Management System (ACMIS) Team

