{% extends "base.html" %}

<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Program Archive Page
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search archived programs..."/>
        <a href={% url 'programs:landing' %} type="button" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>
{% endblock page-title-actions %}


{% block content %}
    <!-- PROGRAM CARDS -->

    {% if perms.Programs.view_programs %}
        {% include "archive_page/program_cards.html" %}
        
        {% include "archive_page/scripts.html" %} 
    {% endif %}



{% endblock content %}