{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal modal-blur fade" id="edit-simple-modal-{{ record.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-m modal-dialog-centered">
		<form 
			autocomplete="off" 
			id="update-instrument-level-form-{{ record.id }}"
			class="modal-content update-folder-form"
			data-id="{{ record.id }}">

			<div class="modal-header">
				<h1 class="modal-title">Update Folder</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if record.has_assign_button or record.has_progress_bar or record.due_date or record.label or record.description %}
					{{update_form|crispy }} 

				{% else %}
					<div id="div_id_name" class="mb-3"> 
						<label for="id_name" class="form-label requiredField required">
							Name
						</label> 
						{{update_form.name }} 
					</div>

				{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary save-changes">Save</button>
			</div>

		</form>
	</div>
</div>
