
{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#create-simple-folder-form").submit(function(event) {
            var serializedData = $("#create-simple-folder-form").serialize();
            const form = document.getElementById("create-simple-folder-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/directory/create/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


{% comment %} AJAX FOR CREATING {% endcomment %}
<script>
    $(document).ready(function(){

        $("#create-advance-folder-form").submit(function(event) {
            var serializedData = $("#create-advance-folder-form").serialize();
            const form = document.getElementById("create-advance-folder-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/directory/create/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


{% comment %} AJAX FOR UPDATING  {% endcomment %}
 <script>
    $(document).ready(function(){
        $(".update-folder-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#update-instrument-level-form-"+id).serialize();
            var url = "/accreditation/instrument/level/directory/update/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }
            });
        });
    });
</script> 

{% comment %} AJAX FOR UPDATING  {% endcomment %}
<script>
    $(document).ready(function(){
        $(".change-advance-folder-form").submit(function(event) {
            var id = $(this).data('id');
            event.preventDefault();
            event.stopPropagation();
            var serializedData = $("#change-advance-folder-form-"+id).serialize();
            var url = "/accreditation/instrument/level/directory/update/"+id+"/";
    
            $.ajax({
                url: url, 
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                    
                },
                error: function(error) {
                    // Check for the errors field in the JSON response
                    if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }
            });
        });
    });
</script> 



<script>
    $(".archive-button").click(function(event) {
        var id = $(this).data('id');         //Get the Id of the record
        var form = 'archive-form-'+id;      //Attaching the id of the record to this string for identifying the specific form
        Swal.fire({
            title: 'Are you sure?',
            text: "This will be move and can be restore in the Instrument's Levels Archive Page!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, archive it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                // Delete the file here
                document.getElementById(form).submit();
            }
        })
    });
</script>


<script>
    var currentStep = 1;
    var updateProgressBar;
    
      function displayStep(stepNumber) {
        if (stepNumber >= 1 && stepNumber <= 3) {
          $(".step-" + currentStep).hide();
          $(".step-" + stepNumber).show();
          currentStep = stepNumber;
          updateProgressBar();
        }
      }
    
      $(document).ready(function() {
        $('#multi-step-form').find('.step').slice(1).hide();
      
        $(".next-step").click(function() {
          if (currentStep < 2) {
            $(".step-" + currentStep).addClass("animate__animated animate__fadeOutLeft");
            currentStep++;
            setTimeout(function() {
              $(".step").removeClass("animate__animated animate__fadeOutLeft").hide();
              $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInRight");
              updateProgressBar();
            }, 500);
          }
        });
    
        $(".prev-step").click(function() {
          if (currentStep > 1) {
            $(".step-" + currentStep).addClass("animate__animated animate__fadeOutRight");
            currentStep--;
            setTimeout(function() {
              $(".step").removeClass("animate__animated animate__fadeOutRight").hide();
              $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInLeft");
              updateProgressBar();
            }, 500);
          }
        });
    
        updateProgressBar = function() {
          var progressPercentage = ((currentStep - 1) / 1) * 100;
          $(".progress-bar").css("width", progressPercentage + "%");
        }
      });
    
    
</script>


<script>
    $(document).ready(function(){

        $(".submit-upload-bin").click(function(event) {
            var component_id = $(this).data('component-id');
            var serializedData = $("#create-upload-bin-form-"+component_id).serialize();
            const form = document.getElementById('create-upload-bin-form-'+component_id)
            var url = "/accreditation/instrument/level/area/parameter/upload/create-upload-bin/"+component_id+"/"
            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });
        });
    });
</script> 


<script>
    $(document).ready(function(){

        $("#create-submission-bin-form").submit(function(event) {
            var serializedData = $("#create-submission-bin-form").serialize();
            const form = document.getElementById("create-submission-bin-form")
            var id = $(this).data('id');
            var url = "/accreditation/instrument/level/parent-directory/create/submission-bin/"+id+"/";

            event.preventDefault();

            $.ajax({
                url: url,
                data: serializedData,
                headers: { 'X-CSRFToken': '{{ csrf_token }}' }, 
                type: "POST",
                success: function(response) {
                    location.reload();
                },
                error: function(error) {

                    if (error.responseJSON && error.responseJSON.error) {
                        // Handle the IntegrityError message
                        toastr.error(error.responseJSON.error);
                    }
                    // Check for the errors field in the JSON response
                    else if (error.responseJSON && error.responseJSON.errors) {
                        // Iterate over the errors field and display the validation errors to the user
                        for (var field in error.responseJSON.errors) {
                            toastr.error(error.responseJSON.errors[field]);
                        }
                    } else {
                        toastr.error('Something went wrong. Please try again later.');
                    }
                }

            });

        });
    });
</script> 
