<!-- Modal -->
<div class="modal modal-blur fade" id="view-modal-{{ record.id }}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Folder Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="row row-cards">

					<div class="card">
						<div class="card-status-top bg-cyan"></div>
						<div class="card-body">
							<h3 class="card-title">Details</h3>
						
							<div class="datagrid">

								<div class="datagrid-item">
									<div class="datagrid-title">Folder Name</div>
									<div class="datagrid-content">
										<b>{{ record.name }}</b>{% if record.label %}: {{record.label}} {% endif %}
									</div>
								</div>

								<div class="datagrid-item">
									<div class="datagrid-title">Type</div>
									<div class="datagrid-content">
										{% if record.is_submission_bin %}
											Folder: Submission Bin
										{% elif record.is_advance and record.can_be_reviewed %}
											Folder: Advance(Reviewable)
										{% elif record.is_advance and record.can_be_reviewed == False %}
											Folder: Advance
										{% else %}
											Folder: Simple
										
										{% endif %} 
									</div>
								</div>

								{% if record.is_submission_bin %}

									{% if record.accepted_file_size %}
										<div class="datagrid-item">
											<div class="datagrid-title">Accepted File Size</div>
											<div class="datagrid-content">{{ record.accepted_file_size }} </div>
										</div>
									{% endif %}

									
									{% if record.accepted_file_count %}
										<div class="datagrid-item">
											<div class="datagrid-title">Accepted File Count</div>
											<div class="datagrid-content"> {{ record.accepted_file_count }}</div>
										</div>
									{% endif %}

								
									{% if record.accepted_file_type %}
										<div class="datagrid-item">
											<div class="datagrid-title">Accepted File Types</div>
											<div class="datagrid-content">
												{% for file_type in converted_file_types %}
													{% if file_type == 'image/jpeg' %}
														<span class="badge ms-2">JPEG</span>
													{% endif %}
													{% if file_type == 'image/png' %}
														<span class="badge ms-2">PNG</span>
													{% endif %}
													{% if file_type == 'image/gif' %}
														<span class="badge ms-2">GIF</span>
													{% endif %}
													{% if file_type == 'image/bmp' %}
														<span class="badge ms-2">BMP</span>
													{% endif %}
													{% if file_type == 'image/svg+xml' %}
														<span class="badge ms-2">SVG</span>
													{% endif %}
													{% if file_type == 'image/webp' %}
														<span class="badge ms-2">WebP</span>
													{% endif %}
													{% if file_type == 'application/pdf' %}
														<span class="badge ms-2">PDF</span>
													{% endif %}
													{% if file_type == 'application/msword' %}
														<span class="badge ms-2">Microsoft Word (DOC)</span>
													{% endif %}
													{% if file_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
														<span class="badge ms-2">Microsoft Word (DOCX)</span>
													{% endif %}
													{% if file_type == 'application/vnd.ms-excel' %}
														<span class="badge ms-2">Microsoft Excel (XLS)</span>
													{% endif %}
													{% if file_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
														<span class="badge ms-2">Microsoft Excel (XLSX)</span>
													{% endif %}
													{% if file_type == 'application/vnd.ms-powerpoint' %}
														<span class="badge ms-2">Microsoft PowerPoint (PPT)</span>
													{% endif %}
													{% if file_type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' %}
														<span class="badge ms-2">Microsoft PowerPoint (PPTX)</span>
													{% endif %}
													{% if file_type == 'text/plain' %}
														<span class="badge ms-2">Plain Text (TXT)</span>
													{% endif %}
													{% if file_type == 'audio/mp3' %}
														<span class="badge ms-2">MP3</span>
													{% endif %}
													{% if file_type == 'video/mp4' %}
														<span class="badge ms-2">MP4</span>
													{% endif %}
													{% if file_type == 'audio/ogg' %}
														<span class="badge ms-2">Ogg</span>
													{% endif %}
													{% if file_type == 'video/webm' %}
														<span class="badge ms-2">WebM</span>
													{% endif %}
													{% if file_type == 'application/zip' %}
														<span class="badge ms-2">ZIP</span>
													{% endif %}
													{% if file_type == 'application/x-rar-compressed' %}
														<span class="badge ms-2">RAR</span>
													{% endif %}
													{% if file_type == 'text/csv' %}
														<span class="badge ms-2">CSV</span>
													{% endif %}
													{% if file_type == 'text/html' %}
														<span class="badge ms-2">HTML</span>
													{% endif %}
													{% if file_type == 'text/css' %}
														<span class="badge ms-2">CSS</span>
													{% endif %}
													{% if file_type == 'application/javascript' %}
														<span class="badge ms-2">JavaScript</span>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}

								{% endif %}

								{% if record.is_advance %}
									{% if record.due_date %}
										<div class="datagrid-item">
											<div class="datagrid-title">Due Date</div>
											<div class="datagrid-content link-warning">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
												{{ record.due_date|date:"M d, Y" }}
											</div>
										</div>
									{% endif %}


									{% if record.has_progress_bar %}
										<div class="datagrid-item">
											<div class="datagrid-title">Progress</div>
											<div class="datagrid-content">
												<div class="row align-items-center">
													<div class="col-12 col-lg-auto">{{ record.progress_percentage }}% Complete</div>
													<div class="col">
													<div class="progress" style="width: 5rem">
														<div class="progress-bar" style="width: {{ record.progress_percentage }}%" role="progressbar" aria-valuenow="{{ record.progress_percentage }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ record.progress_percentage }}% Complete">
														<span class="visually-hidden">{{ record.progress_percentage }}% Complete</span>
														</div>
													</div>
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endif %}

								<div class="datagrid-item">
									<div class="datagrid-title">Created by</div>
									<div class="datagrid-content">
									{{ record.created_by.first_name }} {{ record.created_by.last_name }} at {{ record.created_at }}

									</div>
								</div>

								<div class="datagrid-item">
									<div class="datagrid-title">Modified by</div>
									<div class="datagrid-content">
										{% if record.modified_at %}
											{{ record.modified_by.first_name }} {{ record.modified_by.last_name }} at {{ record.modified_at }}
										{% endif %}
									</div>
								</div>

								{% if record.is_submission_bin %}
								{% else %}
									<div class="datagrid-item">
										<div class="datagrid-title">Members</div>
										<div class="datagrid-content">
											<div>
												<div class="avatar-list avatar-list-stacked">
													{% if assigned_users %}
														{% for user_assigned in assigned_users %}
															{% if user_assigned.assigned_user.profile_pic %}
															<span class="avatar avatar-sm rounded" 
																style="background-image: url(./static/avatars/000m.jpg)"
																data-bs-toggle="tooltip" 
																data-bs-html="true" 
																data-bs-placement="bottom"
																title="{{ user_assigned.assigned_user.first_name }} {{ user_assigned.assigned_user.last_name }} ({{ user_assigned.assigned_user.email }})"></span>
															{% else %}
															<span class="avatar avatar-sm rounded"
																	data-bs-toggle="tooltip" 
																	data-bs-html="true" 
																	data-bs-placement="bottom"
																	title="<small>{{ user_assigned.assigned_user.first_name }} {{ user_assigned.assigned_user.last_name }} ({{ user_assigned.assigned_user.email }})</small>">
																	{{ user_assigned.assigned_user.first_name|first|default:'' }} {{user_assigned.assigned_user.last_name|first|default:'' }}
															</span>
															{% endif %}
														{% endfor %}
													
													{% else %}
														No Assigned Members
													
													{% endif %}

												</div>
											</div>
										</div>
									</div>
								{% endif %}

							</div>

						</div>
					</div>


					{% if record.can_be_reviewed %}
						<div class="card">
							<div class="card-status-top bg-cyan"></div>
							<div class="card-body">
								<h3 class="card-title">Approval Status</h3>

							{% if record.reviewed_by %}
								<div class="row p-2">
									<div class="col-4 "><b>Reviewed by</b></div>
									<div class="col-6 text-break "> {{ record.reviewed_by.first_name }}  {{ record.reviewed_by.last_name }}
									</div>
								</div>

								<div class="row  p-2">
									<div class="col-4"><b>Review date</b></div>
									<div class="col-6 text-break "> {{ record.reviewed_at }}
									</div>
								</div>
							
							{% endif %}


								<div class="row p-2">
									<div class="col-4"><b>Status</b></div>
									<div class="col-6 text-break ">
										{% if record.status == 'approve'%}
											<span class="badge badge-outline text-green">Approved</span>
										{% elif record.status == 'rfr' %}
											<span class="badge badge-outline text-red">Request for Resubmission</span>

										{% else %}
											<span class="badge badge-outline text-cyan">For Review</span>
										{% endif %}

									</div>
								</div>

								<div class="row  p-2">
									<div class="col-4"><b>Remarks</b></div>
									<div class="col-6 text-break "> 
										{% if record.remarks %}
											{{ record.remarks|safe }}
										{% else %}
										{% endif %}
								
									</div>
								</div>

							</div>
						</div>
					{% endif %}
		

				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
