{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title> ACIS - {{ title }}</title>
    {% else %}
        <title> ACIS</title>
    {% endif %}

    <!-- CSS DEPENDENCIES-->
    {% include "dependencies/CSS_dependencies.html" %} 

  </head>
	<body id="page-top">
		<!-- TOP NAVIGATION BAR -->
	

		{% for message in messages %}
        	<script>toastr.success("{{ message }}") </script>
   		{% endfor %}

           <nav class="navbar navbar-light" style="background-color: #800000;"><!-- <nav class="navbar navbar-light" style="background-color: #800000;"> -->
            <div class="container-fluid"><!-- <div class="container-fluid">  -->
        
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="hovermenu">
                                    <a class="nav-link" href="{% url 'users-login' %}">
                                        <small style="color: white;">Login</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div><!-- <div class="container-fluid">  -->
        </nav><!-- <nav class="navbar navbar-light" style="background-color: #800000;"> -->
					<div class="mx-5">
						<section class="wrapper"><!--card dashboard-->
                            <div class="container"></div>
                                <div class="row">
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col" style="background-image:url('https://st2.depositphotos.com/7084132/12226/i/950/depositphotos_122268186-stock-photo-happy-cute-young-smiling-girl.jpg');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <h1 class="card-title"><i class="fas fa-user-graduate fa-2x"></i>
                                                        <span>Students</span></h1>
                                                    <p class="text-center text-light">3,5479 A.Y. 2023/24</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col" style="background-image:url('https://www.90daykorean.com/wp-content/uploads/2015/01/Online-Korean-classes.jpg');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <h1 class="card-title"><i class="fas fa-users fa-2x"></i><br>
                                                        <span>User</span></h1>
                                                    <p class="text-center text-light">378 Faculties</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col" style="background-image:url('images/1.png');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <h1 class="card-title"><i class="fas fa-medal fa-2x"></i>
                                                        <small>Accreditation</small></h1>
                                                    <p class="text-center text-light">10 Accreditted programs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col" style="background-image:url('images/Untitled\ design.png');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <h1 class="card-title"><i class="fas fa-university fa-2x"></i>
                                                        <span>Campuses</span></h1>
                                                    <p class="text-center text-light">20 Campus & Braches</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </section><!--end card dashboard-->
                        
                                        
                        <div class="chart-grid"> <!--graphs and analytics-->
                            <div class="container">
                        
                                <div class="row">
                        
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h6>Compliance Metrics</h6>
                                            </div>
                                            
                                            <div class="panel-body">
                                                <canvas id="chart1" style="width:100%; height: 300px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h6>Improvement Impact Analysis</h6>
                                            </div>
                                            <div class="panel-body">
                                                <canvas id="chart2" style="width:100%; height: 300px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h6>Analysis Improvement</h6>
                                            </div>
                                            <div class="panel-body">
                                                <canvas id="chart3" style="width:100%; height: 300px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h6>Accreditation Changes</h6>
                                            </div>
                                            <div class="panel-body">
                                                <canvas id="chart4" style="width:100%; height: 300px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   <!-- charts ends here -->
                        
                        <hr>
                        <section class="wrapper "><!--News and forecast-->
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center mb-5">
                                        <h1 class="display-4 font-weight-bolder">Polytechnic University of the Philippines Quezon City</h1>
                                        <p class="lead">News and forecast</p>
                                        <p class="lead">As of June 2020 | See also: Certificate of Program Compliance (COPC)</p>
                                    </div>
                                </div>
                        
                                <div class="row">
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col" style="background-image:url('images/1.png');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <small class="card-meta mb-2">University News</small>
                                                    <h4 class="card-title mt-0 "><a class="text-dark" style="text-decoration: none;" herf="#">OUS marketing studs conduct
                                                            outreach for PWDs</a></h4>
                                                    <small><i class="far fa-clock"></i> October 15, 2023</small>
                                                </div>
                        
                                                <div class="card-footer">
                                                    <div class="media">
                                                        <img class="mr-3 rounded-circle" src="images/user.jpg"
                                                            alt="Generic placeholder image" style="max-width:50px">
                                                        <div class="media-body">
                                                            <h6 class="my-0 text-dark d-block">Jonel Malinao</h6>
                                                            <small>Director of UI/UX</small>
                                                        </div>
                                                    </div>
                                                </div>
                        
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col"
                                            style="background-image:url('images/2.png');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <small class="card-meta mb-2">University NEWS</small>
                                                    <h4 class="card-title mt-0 "><a class="text-dark" style="text-decoration: none;"
                                                            herf="#">NKUHT visits PUP for English enhancement program</a></h4>
                                                    <small><i class="far fa-clock"></i> October 15, 2023</small>
                                                </div>
                        
                                                <div class="card-footer">
                                                    <div class="media">
                                                        <img class="mr-3 rounded-circle"
                                                            src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t39.30808-6/383441767_6895474423831338_9055393671641868705_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeEA-xU8bgWSfEhuZKCFoLp3nKwqDyLnyq6crCoPIufKrtFmEbuKYBau_DzC1ucbpBr6OSx4JwMNYR0o2Rg0tefw&_nc_ohc=qz2hZhbHlcwAX8IiCgB&_nc_oc=AQkbV0WlKxnN01Iw7T451M_ygTsyRxjrHslIOWjxIUMRd0B2hezOuEgBNW0Dq6GePIg&_nc_ht=scontent.fmnl4-1.fna&oh=00_AfCdGR6S6T8eHD9Xt8rGGNT6OeMwnEjSOhQ2PepfTYID-A&oe=651ED4A1"
                                                            alt="Generic placeholder image" style="max-width:50px">
                                                        <div class="media-body">
                                                            <h6 class="my-0 text-dark d-block">Francis Aurelius</h6>
                                                            <small>Backend | SCRUM Master</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col"
                                            style="background-image:url('images/3.png');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <small class="card-meta mb-2">University News</small>
                                                    <h4 class="card-title mt-0 "><a class="text-dark" style="text-decoration: none;"
                                                            herf="#">First batch of intermediate procurement specialists receive PUP-GPPB certification</a></h4>
                                                    <small><i class="far fa-clock"></i> October 15, 2023</small>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="media">
                                                        <img class="mr-3 rounded-circle"
                                                            src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t39.30808-6/275886575_1214820915716089_2481940986838529823_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeERJl3Lz-jiM5KVD4yTmWJvaz5EF_-ysHZrPkQX_7Kwdg2uIq54gziW8UD7EPRIIQXKg9sMkP2697EqSayMoqb4&_nc_ohc=a6yuM9tO-5QAX8WIexO&_nc_ht=scontent.fmnl4-4.fna&oh=00_AfDPR2iamk9MjcKVJgySTcMjW66SqKQTw7-6gOktxQo_WA&oe=651F7CE4"
                                                            alt="Generic placeholder image" style="max-width:50px">
                                                        <div class="media-body">
                                                            <h6 class="my-0 text-dark d-block">Hel Frae</h6>
                                                            <small>BA - Designer</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                                        <div class="card text-dark card-has-bg click-col"
                                            style="background-image:url('images/4.png');">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <small class="card-meta mb-2">University News</small>
                                                    <h4 class="card-title mt-0 "><a class="text-dark" style="text-decoration: none;"
                                                            herf="https://creativemanner.com">CSSD Dean discusses working class legacy in Local History National Conference</a></h4>
                                                    <small><i class="far fa-clock"></i> October 15, 2020</small>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="media">
                                                        <img class="mr-3 rounded-circle"
                                                            src="https://scontent.fmnl4-2.fna.fbcdn.net/v/t39.30808-1/340262552_1157029778324430_2015892216828250282_n.jpg?stp=dst-jpg_p100x100&_nc_cat=101&ccb=1-7&_nc_sid=fe8171&_nc_eui2=AeEkSgvydKKVX55n9PyFxhgx0dfAnJgBwVPR18CcmAHBU3lWSqvoyllfFL91tmvW6K4mgX1Heh57vEOdbjhqaCvd&_nc_ohc=NWyJz_w0c6QAX_PrtHj&_nc_ht=scontent.fmnl4-2.fna&oh=00_AfBFGkkC8Zk_1ckZk-rxVG_SpfOYRazP0pWbsiLHEBBRvQ&oe=651E5DC2"
                                                            alt="Generic placeholder image" style="max-width:50px">
                                                        <div class="media-body">
                                                            <h6 class="my-0 text-dark d-block">Jess Abenion</h6>
                                                            <small>BA - Tester</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                        
                            </div>
                        </section>
                        
                            
                        <div><!-- footer -->
                            <footer class="bg-dark text-center text-lg-start text-white">
                                <!-- Grid container -->
                                <div class="container p-4">
                                    <!--Grid row-->
                                    <div class="row my-4">
                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        
                                            <div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 50px; height: 150px;">
                                                <img src="images/Untitled_design-removebg-preview.png" style="height: 100%" alt=""
                                                loading="lazy" />
                                            </div>
                        
                                            <p class="text-center">Republic of the Philippines</p>
                                            <p class="text-center text-muted">All content is in the public domain unless otherwise stated.</p>
                                
                                            <ul class="list-unstyled d-flex flex-row justify-content-center">
                                                <li>
                                                    <a class="text-white px-2" href="#!">
                                                    <i class="fab fa-facebook-square"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="text-white px-2" href="#!">
                                                    <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="text-white ps-2" href="#!">
                                                    <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                        
                                        </div>
                                        <!--Grid column-->
                        
                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                            <p class="text-uppercase mb-4 text-muted h6">About GOVPH</p>
                                            <p class="text-muted">Learn more about the Philippine government, its structure, how government works and the people behind it.</p>
                        
                                            <ul class="list-unstyled">
                                                <li class="mb-2">
                                                <a href="#!" class="text-muted">Official Gazette</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Open Data Portal</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Grid column-->
                                
                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                            <p class="text-uppercase mb-4 text-muted h6">Government Links</p>
                                
                                            <ul class="list-unstyled">
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Official Gazette</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Open Data Portal</a>
                                                    </li>
                                            </ul>
                                        </div>
                                        <!--Grid column-->
                        
                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                            <h6 class="text-uppercase mb-4 text-muted">Government Linkst</h6>
                                
                                            <ul class="list-unstyled">
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Office of the President</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Office of the Vice President</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Senate of the Philippines</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">House of Representatives</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Supreme Court</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Court of Appeals</a>
                                                </li>
                                                <li class="mb-2">
                                                    <a href="#!" class="text-muted">Sandiganbayan</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Grid column-->
                                
                                    </div><!--Grid row-->
                        
                                </div><!-- Grid container -->
                        
					</div>
					{% comment %} <div> {% endcomment %}
	</body>
</html>


