<!--News and forecast-->
<div class="row ">
    <h3 class="text-uppercase border-bottom mb-4">News and forecast
      <p style="font-weight: normal; font-size: 14px;">
        As of June 2020 | See also: Certificate of Program Compliance (COPC)</p>
    </h3>

    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="arrow-nav">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                       data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/news1.jpg">
                                            <a href="https://www.pup.edu.ph/news/?go=%2bExbiRxyH5w%3d" target="_blank"
                                               style="text-decoration: none;">
                                                <div class="card-body">
                                                    <h4 class="card-title">CSSD Dean discusses working class legacy in Local History
                                                        National Conference</h4>
                                                    <small>September 08, 2023.</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/news2.jpg">
                                            <a href="https://www.pup.edu.ph/news/?go=%2bExbiRxyH5w%3d" target="_blank"
                                               style="text-decoration: none;">
                                                <div class="card-body">
                                                    <h4 class="card-title">CSSD Dean discusses working class legacy in Local History
                                                        National Conference</h4>
                                                    <small>September 08, 2023.</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="images/news3.jpg">
                                            <a href="https://www.pup.edu.ph/news/?go=%2bExbiRxyH5w%3d" target="_blank"
                                               style="text-decoration: none;">
                                                <div class="card-body">
                                                    <h4 class="card-title">CSSD Dean discusses working class legacy in Local History
                                                        National Conference</h4>
                                                    <small>September 08, 2023.</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <!-- input other carousel newsCard here -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <!-- input other carousel newsCard here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h3 class="text-uppercase border-bottom mb-4">Recent activity
        <p class="text-black-50" style="font-weight: normal; font-size: 14px;">
            Date today
        </p>
    </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Name</th>
                <th scope="col">Activity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>Mark</td>
                <td class="text-muted">reviewed attachment</td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td class="text-muted">reviewed attachment</td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td class="text-muted">attached to Jacob's bin</td>
            </tr>
        </tbody>
    </table>
</div>
<!--end of page content-->
    
    