{% load crispy_forms_tags %}

	<!-- Modal -->
	<div class="modal modal-blur fade" id="create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div id='create-modal-dialog' class="modal-dialog modal-lg">
			<form 
				autocomplete="off" 
				id="create-instrument-form" 
				class = "modal-content">
			{% csrf_token %}

				<div class="modal-header">
					<h1 class="modal-title">Create new instrument</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" >
					{{ instrument_form|crispy }}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
					<button type="button" id="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>