{% load custom_tags %}
<div class="row row-cards">

	{% if records %}
			<!-- For loop here -->
		{% for file in records  %}
			<div class="col-sm-4 col-lg-3">
				<div class="card  rounded-4" onmouseover="addHoverClass(this)" onmouseout="removeHoverClass(this)">
					<div class="card-body">
						<div class="row">
							<div class="col-11 text-truncate"
							data-bs-toggle="tooltip" 
							data-bs-html="true" 
							data-bs-placement="bottom"
							title="{{  file.certificate_name }}">
						
								<a class="text-reset"  href="{{file.certificate_path.url}}" target="_blank">{{file.certificate_name}}</a>
							</div>
							<div class="col-1 ms-auto lh-1">
								<div class="dropdown">
									<a  class="text-muted" href="#" id="dropdownMenuButton-{{ file.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
										data-bs-toggle="tooltip" 
										data-bs-html="true" 
										data-bs-placement="bottom"
										title="More actions">
										<!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
										<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
									</a>
									<div class="dropdown-menu dropdown-menu-end " id="dropdownMenu-{{ file.id }}">
										<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#view-modal-{{ file.id }}">Details</button>
										<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rename-file-modal-{{ file.id }}">Rename</button>
										<a class="dropdown-item" href="{{ file.certificate_path.url }}" download="{{  file.certificate_name }}">Download</a>

										{% if perms.Accreditation.delete_accreditation_certificates %}
											<button type="button" class="dropdown-item text-danger delete-button" id="delete-button" data-id={{ file.id }}>Permanent Delete</button>
										{% endif %}

									</div>
								</div>
							</div>
						</div>

						<br>
						<a class="text-decoration-none text-reset"  href="{{file.certificate_path.url}}" target="_blank">
							<div class="border  p-4 rounded-4 text-center">
								{% if file.certificate_name|slice:"-4:" == '.pdf' %}
									<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#DE3B38"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="folder-icon icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
										<path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
										<path d="M17 18h2" />
										<path d="M20 15h-3v6" />
										<path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
									</svg>

								{% elif file.certificate_name|slice:"-4:" == '.doc' or file.certificate_name|slice:"-4:" == 'docx'%}
									{% if file.certificate_name|slice:"-4:" == '.doc' %}
										<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#528BC9"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="folder-icon icon icon-tabler icons-tabler-outline icon-tabler-file-type-doc">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" />
											<path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
											<path d="M5 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
											<path d="M20 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
											<path d="M12.5 15a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1 -3 0v-3a1.5 1.5 0 0 1 1.5 -1.5z" />
										</svg>
									
									{% elif file.certificate_name|slice:"-4:" == 'docx' %}
										<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#528BC9"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="folder-icon icon icon-tabler icons-tabler-outline icon-tabler-file-type-docx">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<path d="M14 3v4a1 1 0 0 0 1 1h4" />
											<path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
											<path d="M2 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
											<path d="M17 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
											<path d="M9.5 15a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1 -3 0v-3a1.5 1.5 0 0 1 1.5 -1.5z" />
											<path d="M19.5 15l3 6" />
											<path d="M19.5 21l3 -6" />
										</svg>
									
									{% endif %}

								{% elif file.certificate_name|slice:"-4:" == '.xls' or file.certificate_name|slice:"-4:" == 'xlsx'%}
									<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#4BB35D"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="folder-icon icon icon-tabler icons-tabler-outline icon-tabler-file-type-xls">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M14 3v4a1 1 0 0 0 1 1h4" />
										<path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
										<path d="M4 15l4 6" /><path d="M4 21l4 -6" />
										<path d="M17 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75" />
										<path d="M11 15v6h3" />
									</svg>

								
								{% elif file.certificate_name|slice:"-4:" == '.jpg' or file.certificate_name|slice:"-4:" == 'jpeg' or file.certificate_name|slice:"-4:" == '.png' %}
									<svg xmlns="http://www.w3.org/2000/svg" class="folder-icon icon icon-tabler icon-tabler-photo" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="gray" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M15 8h.01" />
										<path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" />
										<path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" />
										<path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" />
									</svg>
							
								{% elif file.certificate_name|slice:"-4:" == '.mp4' or file.certificate_name|slice:"-4:" == 'webm' %}
									<svg xmlns="http://www.w3.org/2000/svg" class="folder-icon icon icon-tabler icon-tabler-pdf" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: #4a7dd3;">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M10 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-2z" />
										<path d="M3 12h2a2 2 0 1 0 0 -4h-2v8" />
										<path d="M17 12h3" />
										<path d="M21 8h-4v8" />
									</svg>
								{% endif %}
								<div>
									<small class="card-text p-y-1 text-muted">{{ file.certificate_path.size|sizify }}</small>
								</div>
								<div class="link-warning"
									data-bs-toggle="tooltip" 
									data-bs-html="true" 
									data-bs-placement="bottom"
									title="Uploaded at {{ file.uploaded_at|date:"M d, Y" }}">
									<!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
									<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
									{{ file.uploaded_at|date:"M d, Y" }}
								</div>
		
						
							</div>
						</a>
			
					</div>
				</div>
			
			</div>

			{% block modal_content %}
				{% include "accreditation-page/accreditation-certificates/main-page/file-rename-modal.html" %}
				{% include "accreditation-page/accreditation-certificates/main-page/file-details-modal.html" %}
			{% endblock modal_content %}


		{% endfor %}


	{% else %}
		{% now "Y-m-d" as today %}
		<div class="empty">
			<div class="empty-header">0 records</div>
			<p class="empty-title">Oops… It seems like there are no records in this page. </p>
			{% if user.is_superuser == True %}
				<p class="empty-subtitle text-muted">
					You can create a record if you like. Just click the 'Add Result or Modify Result' button and save the details.
				</p>
			{% endif %}
			<div class="empty-action">

			{% if user.is_superuser == True %}
				{% if accred_program.is_done == False and today > accred_program.survey_visit_date|date:"Y-m-d" and accred_program.revisit_date == None %}
					<a href="#" class="btn btn-outline-info  ms-auto position-relative" data-bs-toggle="modal" data-bs-target="#result-modal">
						Add Result
						<span class="badge bg-green badge-notification badge-blink"></span>
					</a>
	
				{% elif today > accred_program.survey_visit_date|date:"Y-m-d" and accred_program.revisit_date %}
					<a href="#" class="btn btn-outline-info  ms-auto position-relative" data-bs-toggle="modal" data-bs-target="#result-modal">
						Modify Result
						<span class="badge bg-green badge-notification badge-blink"></span>
					</a>
	
				{% elif today > accred_program.survey_visit_date|date:"Y-m-d" and accred_program.is_done == True%}
				<a href="#" class="btn btn-outline-info  ms-auto position-relative" data-bs-toggle="modal" data-bs-target="#result-modal">
					Modify Result
					<span class="badge bg-green badge-notification badge-blink"></span>
				</a>
	
				{% else %}
					<a href="#" class="btn btn-outline-info ms-auto position-relative disabled" data-bs-toggle="modal" data-bs-target="#result-modal">
						Add Result
					</a>
	
				{% endif %}

	
			{% endif %}

			</div>
		</div>
	{% endif %}
</div>



