<div class="row row-cards">

	{% if records %}
			<!-- For loop here -->
		{% for record in records  %}
			<div class="col-sm-4 col-lg-3">
				<!-- File Card  -->
				<div class="file-card">
					<div class="row">
						<div class="col-auto">
							{% if record.certificate_name|slice:"-4:" == '.pdf' %}
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pdf" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: #4a7dd3;">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-2z" />
									<path d="M3 12h2a2 2 0 1 0 0 -4h-2v8" />
									<path d="M17 12h3" />
									<path d="M21 8h-4v8" />
								</svg>

							{% elif record.certificate_name|slice:"-4:" == '.doc' or record.certificate_name|slice:"-4:" == 'docx'%}
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-description" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M14 3v4a1 1 0 0 0 1 1h4" />
									<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
									<path d="M9 17h6" />
									<path d="M9 13h6" />
								</svg>

							{% elif record.certificate_name|slice:"-4:" == '.doc' or record.certificate_name|slice:"-4:" == 'docx'%}
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-description" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M14 3v4a1 1 0 0 0 1 1h4" />
									<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
									<path d="M9 17h6" />
									<path d="M9 13h6" />
								</svg>

							
							{% elif record.certificate_name|slice:"-4:" == '.jpg' or record.certificate_name|slice:"-4:" == 'jpeg' or record.certificate_name|slice:"-4:" == '.png' %}
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M15 8h.01" />
									<path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" />
									<path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" />
									<path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" />
								</svg>
						
							{% elif record.certificate_name|slice:"-4:" == '.mp4' or record.certificate_name|slice:"-4:" == 'webm' %}
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pdf" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: #4a7dd3;">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-2z" />
									<path d="M3 12h2a2 2 0 1 0 0 -4h-2v8" />
									<path d="M17 12h3" />
									<path d="M21 8h-4v8" />
								</svg>
							{% endif %}
						</div>
						<div class="col-9 text-truncate">
							{{  record.certificate_name }}
						</div>

						<div class="col-1">
							<div class="dropdown">
								<a class="text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
									<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
								</a>
								<div class="dropdown-menu dropdown-menu-end" style="">
									<a class="dropdown-item" href="{{ record.certificate_path.url }}" download="{{  record.certificate_name }}">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
										<path d="M7 11l5 5l5 -5" />
										<path d="M12 4l0 12" />
										</svg>
										Download
									  </a>

									<button type="button" class="dropdown-item text-danger delete-button" id="delete-button" data-id={{ record.id }}>Delete</button>
								</div>
							</div>
						</div>
						
						
					</div>
				
					<a data-fslightbox="gallery" href="./static/photos/young-woman-working-in-a-cafe.jpg">
						<!-- Photo -->
						<div class="img-responsive img-responsive-1x1 rounded-3 border" 
							style="background-image: url(./static/photos/young-woman-working-in-a-cafe.jpg)">
						</div>
					</a>
					<div>
						<small>Date Posted: {{ record.modified_at|date:"F j, Y g:i A" }}</small>
					</div>
				</div>
			</div>
				<!-- end of file Card -->

			<!-- END of For Loop -->

		{% endfor %}


	{% else %}
		<div class="empty">
			<div class="empty-header">0 records</div>
			<p class="empty-title">Oops… It seems like there are no records in this page. </p>
			<p class="empty-subtitle text-muted">
			You can create a record if you like. Just click the 'create' button and save the details.
			</p>
			<div class="empty-action">
				<a href="{% url "dashboards:dashboard-landing" %}" class="btn btn-primary">
					<!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg>
					Take me home
				</a>
			</div>
		</div>
	{% endif %}
</div>



