<div class="row row-cards">
    <div class="card">
        <div class="card-status-top bg-cyan"></div>
        <div class="card-header">
            <h3 class="card-title">Program Accreditation Info</h3>
        </div>
        <div class="card-body">
            <div class="datagrid">


                    <div class="datagrid-item">
                        <div class="datagrid-title">Program</div>
                        <div class="datagrid-content">{{ accred_program.program.program_name }}</div>
                    </div>

                    <div class="datagrid-item">
                        <div class="datagrid-title">Accreditation Level</div>
                        <div class="datagrid-content">Applying for {{ accred_program.instrument_level.level}}</div>
                    </div>

                    <div class="datagrid-item">
                        <div class="datagrid-title">Accreditation Instrument</div>
                        <div class="datagrid-content"> {{accred_program.instrument_level}}</div>
                    </div>



                <div class="datagrid-item">
                    <div class="datagrid-title">Mock Accreditation Date</div>
                    <div class="datagrid-content"> {{ accred_program.mock_accred_date|date:"F j, Y g:i A" }}</div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">Date of Actual Survey</div>
                    <div class="datagrid-content"> {{ accred_program.survey_visit_date|date:"F j, Y g:i A" }}</div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">status</div>
                    <div class="datagrid-content">

                        {% if accred_program.status == "ONGOING"  %}
                            <span class="status status-blue">
                                {{accred_program.status}}
                            </span>

                        {% elif   accred_program.status == "DONE" %}
                            <span class="status status-green">
                                {{accred_program.status}}
                            </span>

                        {% endif %}
                        
                    </div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">Created by</div>
                    <div class="datagrid-content">
                        <div class="d-flex align-items-center">

                            {% if accred_program.created_by.profile_pic %}
                                <span class="avatar avatar-xs me-2 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                            
                            {% else %}
                                <span class="avatar avatar-xs me-2 rounded">{{ accred_program.created_by.first_name|first|default:'' }} {{ accred_program.created_by.last_name|first|default:'' }}</span>
        
                            {% endif %}
                            {{ accred_program.created_by.first_name}} {{ accred_program.created_by.last_name }}



                        </div>
                    </div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">Created at</div>
                    <div class="datagrid-content">{{accred_program.created_at|date:"F j, Y g:i A"}}</div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">Modified by</div>
                    <div class="datagrid-content">
                        <div class="d-flex align-items-center">

                            {% if accred_program.modified_by.profile_pic %}
                                <span class="avatar avatar-xs me-2 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                            
                            {% else %}
                                <span class="avatar avatar-xs me-2 rounded">{{ accred_program.modified_by.first_name|first|default:'' }} {{ accred_program.modified_by.last_name|first|default:'' }}</span>
        
                            {% endif %}
                            {{ accred_program.modified_by.first_name}} {{ accred_program.modified_by.last_name }}

                        </div>
                    </div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">Last Modified</div>
                    <div class="datagrid-content">{{accred_program.modified_at|date:"F j, Y g:i A"}}</div>
                </div>

                <div class="datagrid-item">
                    <div class="datagrid-title">Description</div>
                    <div class="datagrid-content">{{accred_program.description}}</div>
                </div>

            </div>
        </div>
    </div>
</div>