{% extends "base.html" %}


<!-- PAGE TITLE FOR THIS PAGE -->
{% block page-title %}
    Accreditation Certificates 
{% endblock page-title %}


<!-- ACTION BUTTONS/ELEMENTS INLINE TO THE PAGE TITLE -->
{% block page-title-actions %}
        {% now "Y-m-d" as today %}
        <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search Files..."/>

		{% if user.is_superuser == True %}
		
			<a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#upload-modal">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
				</svg>
				Upload
			</a>

			{% if accred_program.is_done == False and today > accred_program.survey_visit_date|date:"Y-m-d" and accred_program.revisit_date == None %}
				<a href="#" class="btn btn-outline-info  ms-auto position-relative" data-bs-toggle="modal" data-bs-target="#result-modal">
					Add Result
					<span class="badge bg-green badge-notification badge-blink"></span>
				</a>

			{% elif today > accred_program.survey_visit_date|date:"Y-m-d" and accred_program.revisit_date %}
				<a href="#" class="btn btn-outline-info  ms-auto position-relative" data-bs-toggle="modal" data-bs-target="#result-modal">
					Modify Result
					<span class="badge bg-green badge-notification badge-blink"></span>
				</a>

			{% elif today > accred_program.survey_visit_date|date:"Y-m-d" and accred_program.is_done == True%}
			<a href="#" class="btn btn-outline-info  ms-auto position-relative" data-bs-toggle="modal" data-bs-target="#result-modal">
				Modify Result
				<span class="badge bg-green badge-notification badge-blink"></span>
			</a>

			{% else %}
				<a href="#" class="btn btn-outline-info ms-auto position-relative disabled" data-bs-toggle="modal" data-bs-target="#result-modal">
					Add Result
				</a>

			{% endif %}

		{% endif %}
{% endblock page-title-actions %}



{% block content %}
    <!-- LEVEL CARDS -->
    <div class="row">
    {% include "accreditation-page/accreditation-certificates/main-page/info-card.html" %}
    {% include "accreditation-page/accreditation-certificates/main-page/certificate-cards.html" %}
    </div>
  
{% endblock content %}


{% block js_content %}
    <!-- scripts -->
    {% include "accreditation-page/accreditation-certificates/main-page/scripts.html" %}
{% endblock js_content %}


{% block css_content %}
    <!-- scripts -->
    {% include "accreditation-page/accreditation-certificates/main-page/styles.html" %}
{% endblock css_content %}



{% block modal_content %}
	{% if user.is_superuser == True or perms.Accreditation.add_accreditation_certificates%}
		{% include "accreditation-page/accreditation-certificates/main-page/remarks-modal.html" %}
		{% include "accreditation-page/accreditation-certificates/main-page/result-modal.html" %}
		{% include "accreditation-page/accreditation-certificates/main-page/result-passed-modal.html" %}
		{% include "accreditation-page/accreditation-certificates/main-page/result-revisit-modal.html" %}
		{% include "accreditation-page/accreditation-certificates/main-page/result-failed-modal.html" %}
		{% include "accreditation-page/accreditation-certificates/main-page/upload-modal.html" %}
	{% endif %}
{% endblock modal_content %}
